@using GeospaceEntity.Models.Codes;
@{
    ViewBag.Title = @ViewBag.Title;
}

@section Scripts
{
    @Scripts.Render("~/bundles/mediana-edit")
    @Scripts.Render("~/Scripts/jquery.stickyheader.js")

    <script>
        var buttonCalc = $(".btn-calc");
        var statusCalc = $("#status-calc");

        function showCalc()
        {
            buttonCalc.attr("disabled", "true");
            statusCalc.css("display", "inline-block");
            buttonCalc.unbind("click");
        }

        function hideCalc()
        {
            buttonCalc.removeAttr("disabled");
            statusCalc.css("display", "none");
            buttonCalc.click(sendCalcRequest);
        }

        function sendCalcRequest(e)
        {
            e.preventDefault();

            showCalc();

            $.ajax({
                url: buttonCalc.attr("href"),
                success: function (data) {
                    if (data == "") {
                        window.location.href = "@Html.Raw(Url.Action("Index","Mediana", new
                                                        {
                                                            station = ViewBag.Station.Code,
                                                            year = ViewBag.Year,
                                                            month = ViewBag.Month,
                                                            type = ViewBag.Type
                                                        }))"
                    }
                    else {
                        hideCalc();
                        alert(data);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    hideCalc();
                    alert("Ошибка отправки запроса. Причина: " + textStatus);
                }
            });
        }

        buttonCalc.click(sendCalcRequest);


    </script>
}

@section Styles
{
    @Styles.Render("~/Content/css-loadtriangles.css")
}

<script>
    var submitUrl = "@Url.Action("Submit", "Mediana")";
    var currentYear = "@ViewBag.Year";
    var currentMonth = "@ViewBag.Month";
    var currentStationCode = "@Model.StationCode";
</script>

<h2 style="float: left">Фактические данные (@ViewBag.Date)</h2><h2 style="float: right">@ViewBag.ViewType</h2>

<style>
    table td, th {
        text-align: center;
    }

    #edit {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 1px;
        border-style: solid;
        border-color: #666;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .sticky-wrap {
        overflow-x: auto;
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;
    }

        .sticky-wrap .sticky-thead,
        .sticky-wrap .sticky-col,
        .sticky-wrap .sticky-intersect {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .125s ease-in-out;
            z-index: 50;
            width: auto;
        }

        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%;
        }

        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }

            .sticky-wrap .sticky-intersect th {
                background-color: #666;
                color: #eee;
            }

        .sticky-wrap td,
        .sticky-wrap th {
            box-sizing: border-box;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <table style="table-layout: fixed; min-width: 583px;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 45px">День</th>
                    @for (int i = 0; i < 24; i++)
                    {
                        <th class="bottom-thick-line">@i</th>
                    }

                </tr>
            </thead>

            <tbody>
                @for (int day = 1; day <= ViewBag.CountDaysInMonth; day++)
                {
                    <tr>
                        <td class="right-thick-line">@day</td>
                        @for (int hour = 0; hour < 24; hour++)
                        {
                            CodeIonka theCode = Model.GetValue(ViewBag.Year, ViewBag.Month, day, hour);

                            string editable = theCode._f0F2.IsEmpty() ? "" : "editable-mediana";

                            <td data-day="@day" data-hour="@hour" data-type="@ViewBag.Type" class="editable-mediana">
                                @if (ViewBag.Type == "f0F2")
                                {
                                    @theCode._f0F2
                                }
                                else
                                {
                                    @theCode._M3000F2
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<h2>Пятидневный прогноз частоты слоя @ViewBag.ViewType для спокойного состояния ионосферы</h2> 

<div class="row">
    <div class="col-md-12">

        <table>
            <tr>
                <td>
                    @Html.ActionLink("Выполнить расчет",
                                    "Calc",
                                    "Mediana",
                                    new
                                    {
                                        station = Model.StationCode,
                                        year = ViewBag.Year,
                                        month = ViewBag.Month,
                                        type = ViewBag.Type
                                    },
                                                        new
                                                        {
                                                            @class = "btn btn-default btn-calc"
                                                        }
                                    )
                </td>
                <td id="status-calc" style="display: none; padding-left: 10px; height: 100%;">
                    <div style="display: inline-block; padding-left: 30px; vertical-align: middle;">Выполняется расчет.. Пожалуйста, подождите..</div>
                    <div style="display: inline-block; height: 100%; width: 0px; vertical-align: middle;"></div>
                    <div class="cssload-triangles">
                        <div class="cssload-tri cssload-invert"></div>
                        <div class="cssload-tri cssload-invert"></div>
                        <div class="cssload-tri"></div>
                        <div class="cssload-tri cssload-invert"></div>
                        <div class="cssload-tri cssload-invert"></div>
                        <div class="cssload-tri"></div>
                        <div class="cssload-tri cssload-invert"></div>
                        <div class="cssload-tri"></div>
                        <div class="cssload-tri cssload-invert"></div>
                    </div>
                </td>
            </tr>
            
        </table>

        <table style="table-layout: fixed; margin-top: 10px;" class="table table-bordered table-striped">
            @{
                GeospaceMediana.Models.ViewMediana viewMediana = ViewBag.ViewMediana;
                
                DateTime curDate = new DateTime(ViewBag.Year, ViewBag.Month, 1);
            }
            <tbody>
                @for (int inumberRange = 1; inumberRange < 7; inumberRange++)
                {
                    DateTime medianaDate = curDate;
                    
                    int numberRange = inumberRange;
                    
                    if(numberRange == 6)
                    {
                        medianaDate = curDate.AddMonths(1);
                        numberRange = 0;
                    }
                    
                    <tr>
                        <td class="right-thick-line" style="white-space: nowrap; width: 45px">@GeospaceMediana.Models.MedianaCalculator.GetRangeFromNumber(medianaDate, numberRange).Header</td>
                            @for (int hour = 0; hour < 24; hour++)
                            {
                                GeospaceEntity.Models.Mediana mediana = viewMediana.GetValue(medianaDate.Year, medianaDate.Month, hour, numberRange);
                                
                                <td>
                                    @if(ViewBag.Type == "f0F2")
                                    {
                                        if (mediana.f0F2 != 0)
                                        {
                                            @mediana._f0F2
                                        }
                                    }
                                    else
                                    {
                                        if (mediana.M3000F2 != 0)
                                        {
                                            @mediana._M3000F2
                                        }
                                    }
                                    
                                </td>
                            }
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

</div>