@using GeospaceEntity.Models;
@using GeospaceMediana.Models;
@{
   
    ViewBag.Title = "Пятидневный прогноз";
}

<h2>Пятидневный прогноз на @Html.Raw(ViewBag.Date.ToString("MMMM yyyy") + " " + ViewBag.range.Header)</h2>
<style type="text/css">
 p{
     align-content: center;
     font-family:'Times New Roman';
     font-size: 18px;
 }
    .page{
        padding-top:10px;
        margin-bottom:20px;
        float:left;
        width:100%;
    }
    .print {
        min-width:600px;
        height:700px;
        background-color: rgb(238, 238, 238);
        float:left;
    }
    .forma-station {
        min-width: 500px;
        border-color: red;
        border-radius: 3px;
        background-color: rgb(226, 247, 244);
        float: left;
        height: 700px;
    }

    .station { font-family: 'Times New Roman'; font-size: 18px; height: 100px;  }
    
    .form-control{
        float:left;
        margin-right:0px;
        width:80px;
    }
    .prognoz {
        float:left;
    }
    .prognoz-div {
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .String {
        width:600px;
        align-content: center;
        margin-left: 25px;
        font-family: 'Times New Roman';
        font-size: 17px;
        text-align: left;
    }
    #SNumber
    {
       margin-top:8px;
    } 
    #numberHab {
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 17px;
        margin-left: 30px;
    }
</style>
<style type="text/css" media="print">

    .forma-station, h2 {
        visibility: hidden;
        display:none;
    }
    .print{
        align-content:center;
        padding-left:50px;
    }
    body {
        padding-top:20px;
        padding-left:20px;
    }
</style>
<script type="text/javascript">
    function addEmpty(number)
    {
        var str = "";
        for(var i = 0; i < number; i++)
        {
            str += "/";
        }
        return str;
    }
    function divisionString(item)
    {
        if(item.length > 5 )
            {
                return item.substr(0,5) + "  " + item.slice(5, item.length) + addEmpty(10 - item.length);
            }
            if (item.length < 5) {
                console.log(item.length);
                return item.slice(0, item.length) + addEmpty(5 - item.length);
            }
            return item;
    }
    function saveForecast() {
        var arrFor = [
        @foreach (var item in ViewBag.NameForecast)
        {
            @Html.Raw('"' + item+'"'+",");
        }
        ];
        var arrNum = [@foreach (var item in ViewBag.NumStation)
        {
            @Html.Raw(item+",");
        }]
        $.each(arrNum,function( i,item)
        {
            $.each(arrFor, function (index, element) {
                var forecast_F = $("#F_" + item + element).val();//значение забитые в input
                console.log(forecast_F);
                if (forecast_F)
                    document.getElementById(item + element).innerHTML = element + "   " + divisionString(forecast_F);
                else
                    document.getElementById(item + element).innerHTML = "";

            });
        });
        var snum = $("#SNumber").val();
        document.getElementById("numberHab").innerHTML =snum;
    }
</script>
<body>
    <div class="pager">
        <div class="print">
            <p>
                МОСКВА ИПГ ДЕНИСОВОЙ<br />
                НОВОСИБИРСК ГИМЕТ ШУСТЕР<br />
                ПЯТИДНЕВНЫЙ ПРОГНОЗ<br />

            </p>
            <div>

@foreach (var numStation in ViewBag.NumStation)
{
    string strFFF = ("FFF");
    string strMM = ("MM");
    IList<Mediana> vMedian = Mediana.GetByRangeNumber(Station.GetByCode(numStation), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);
    foreach (var item in vMedian)//формирование строки для разбиения по 5 символов
    {
        strFFF += item.f0F2.ToString("D3");
        strMM += item.M3000F2.ToString("D2");
    }
    <div style="margin-bottom:20px">
        <div class="String">
            MEDIAN  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
        </div>
        <div class="String FFF">
            @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strFFF, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
            {
               <span style="margin-right:10px;">@str5</span>
            }
        </div>
        <div class="String MM">
            @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strMM, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
            {
                <span style="margin-right:10px;">@str5</span>
            }
        </div>
        <div class="String">
            FORECAST  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
        </div>
        <div class="String">
           @foreach(var forecast in ViewBag.NameForecast)
           {
               <span id="@numStation@forecast"></span>
           }
        </div>
       
    </div>
}
            </div>
            <div id="numberHab"></div>
        </div>

        <div class="forma-station">
            @foreach (var item in ViewBag.NumStation)
{
    Station st = Station.GetByCode(item);
   
    <div class="station " id="@st.Code">
        <div style="float:left; padding:10px 10px;">@st.Name - @st.Code</div>
        <div style="clear: both;margin-left:10px;">
            @foreach (var name in @ViewBag.NameForecast)
            {
                <div class="prognoz form-group">
                    <div style="float:left; padding:5px 4px">@name:</div><input type="number" class="form-control" id="F_@item@name" placeholder="XXXXX" value="">
                </div>
            }
        </div>
    </div>


}

            <div style="float: left; font-family: 'Times New Roman'; font-size: 18px; margin:9px 1px"> Номер телеграммы</div>
            <input type="number" class="form-control" id="SNumber" placeholder="XXXXX" value="27">
            <input type="button" value="Сохранить" onclick="saveForecast();" class="btn btn-default btn-lg" > 
            <input type="button" value="Печать" onclick="window.print();" class="btn btn-default btn-lg"> 
        </div>
    </div>

</body>

