@using GeospaceEntity.Models;
@using GeospaceEntity.Helper;
@{
   
    ViewBag.Title = "Пятидневный прогноз";
}
<script>
    var submitUrl = "@Url.Action("SubmitFiveDay", "Telegram")";
    var submitUrl2 = "@Url.Action("SubmitFiveDayTelegram", "Telegram")";
        var currentYear = "@ViewBag.Date.Year";
        var currentMonth = "@ViewBag.Date.Month";
        var currentRangeNaumber = "@ViewBag.number";

</script>
<script>
    

    $(document).ready(function () {

        $("#inputLine1").keyup(handleChangeHeader);
        $("#inputLine2").keyup(handleChangeHeader);
        $("#inputLine3").keyup(handleChangeHeader);

        $("#F_45601IONFO").keyup(handleChangeCodes);
        $("#F_45601IONES").keyup(handleChangeCodes);
        $("#F_45601MAGPO").keyup(handleChangeCodes);
                                                   
        $("#F_43501IONFO").keyup(handleChangeCodes);
        $("#F_43501IONES").keyup(handleChangeCodes);
        $("#F_43501MAGPO").keyup(handleChangeCodes);
                                                   
        $("#F_46501IONFO").keyup(handleChangeCodes);
        $("#F_46501IONES").keyup(handleChangeCodes);
        $("#F_46501MAGPO").keyup(handleChangeCodes);
        //----------------------------------------
        $("#F_45601IONFO").click(handleChangeSubmit("45601IONFO"));
        $("#F_45601IONES").click(handleChangeSubmit("45601IONES"));
        $("#F_45601MAGPO").click(handleChangeSubmit("45601MAGPO"));

        $("#F_43501IONFO").click(handleChangeSubmit("43501IONFO"));
        $("#F_43501IONES").click(handleChangeSubmit("43501IONES"));
        $("#F_43501MAGPO").click(handleChangeSubmit("43501MAGPO"));

        $("#F_46501IONFO").click(handleChangeSubmit("46501IONFO"));
        $("#F_46501IONES").click(handleChangeSubmit("46501IONES"));
        $("#F_46501MAGPO").click(handleChangeSubmit("46501MAGPO"));
        $("#SNumber").click(handleChangeSubmitNUmber);
        $("#SNumber").keyup(handleChangeCodes);
        handleChangeHeader();
        handleChangeCodes();

    });
    function handleChangeSubmitNUmber() {
        $('#SNumber').focus();
        $('#SNumber').select();
        $('#SNumber').blur(function () {
            var forecast_F = $("#SNumber");//значение забитые в input
            if (forecast_F) {

                var strVal = "";
                strVal = forecast_F.val();
                var resUrl = window.submitUrl +
                        "?stationcode=" + "43501" +
                        "&year=" + window.currentYear +
                        "&month=" + window.currentMonth +
                        "&range_number=" + currentRangeNaumber +
                        "&type=" + "Number" +
                        "&newvalue=" + strVal;
                $.ajax({
                    url: resUrl
                });
            }
        });
    }
    function handleChangeSubmit(str) {
        $('#F_' + str).focus();
        $('#F_' + str).select();
        $('#F_' + str).blur(function () {
            var forecast_F = $("#F_" + str);//значение забитые в input
            if (forecast_F) {
                
                var strVal = "";
                if (forecast_F.val()) strVal = forecast_F.val();
                var resUrl = window.submitUrl +
                        "?stationcode=" + str.substr(0, 5) +
                        "&year=" + window.currentYear +
                        "&month=" + window.currentMonth +
                        "&range_number=" + currentRangeNaumber +
                        "&type=" + str.substr(5, 5) +
                        "&newvalue=" + strVal;
                $.ajax({
                    url: resUrl
                });
            }
        });
    }
    function handleChangeHeader() {
        $(".pager .print p").html($("#inputLine1").val() + "<br>" + $("#inputLine2").val() + "<br>" + $("#inputLine3").val());

    }
    
    function handleChangeCodes() {
        saveForecast();
    }
    function saveForecastTelegramBD()
    {
        var param = { year: window.currentYear, month: window.currentMonth, range_number: currentRangeNaumber, numberTel: $("#SNumber").val()};
        $.ajax({
            url: window.submitUrl2,
            data: param
            
        });
    }

</script>

<div class="row">
    <div class="col-md-8 tlg-container">
        <div class="panel panel-default">
            <div class="panel-body">


                <div class="pager">
                    <div class="print">
                        <p>
                            МОСКВА ИПГ ДЕНИСОВОЙ<br />
                            НОВОСИБИРСК ГИМЕТ ШУСТЕР<br />
                            ПЯТИДНЕВНЫЙ ПРОГНОЗ<br />

                        </p>
                        <div>

                            @foreach (var numStation in ViewBag.NumStation)
                            {
                                string strFFF = ("FFF");
                                string strMM = ("MM");
                                IList<Mediana> vMedian = Mediana.GetByRangeNumber(Station.GetByCode(numStation), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);
                                foreach (var item in vMedian)//формирование строки для разбиения по 5 символов
                                {
                                    strFFF += item.f0F2.ToString("D3");
                                    strMM += item.M3000F2.ToString("D2");
                                }
                                //GeospaceEntity.Models.Telegram.ForecastFiveDay forecastData = GeospaceEntity.Models.Telegram.ForecastFiveDay.GetByDateUTC(Station.GetByCode(numStation), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);
                                <div style="margin-bottom:20px">
                                    <div class="String">
                                        MEDIAN  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
                                    </div>
                                    <div class="String FFF">
                                        @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strFFF, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
                                        {
                                            <span style="margin-right:10px;">@str5</span>
                                        }
                                    </div>
                                    <div class="String MM">
                                        @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strMM, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
                                        {
                                            <span style="margin-right:10px;">@str5</span>
                                        }
                                    </div>
                                    <div class="String">
                                        FORECAST  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
                                    </div>
                                    <div class="String">
                                        @foreach (string forecast in ViewBag.NameForecast)
                                        {
                                            <span id="@numStation@forecast">

                                            </span>
                                        }
                                    </div>

                                </div>
                            }
                        </div>
                        <div id="numberHab"></div>
                    </div>

                </div>




            </div>
        </div>
    </div>
    <div class="col-md-4 input-container hidden-print">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingLine" data-toggle="collapse" data-parent="#accordion" data-target="#collapseLine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseLine">
                                    Заголовок
                                </a>
                            </h4>
                        </div>
                        <div id="collapseLine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLine">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputLine1" class="col-sm-2 control-label">1:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLine1" placeholder="" value="МОСКВА ИПГ ДЕНИСОВОЙ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLine2" class="col-sm-2 control-label">2:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLine2" placeholder="" value="НОВОСИБИРСК ГИМЕТ ШУСТЕР">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLine3" class="col-sm-2 control-label">3:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLine3" placeholder="" value="ПЯТИДНЕВНЫЙ ПРОГНОЗ">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" aria-expanded="true" aria-controls="collapseOne">
                                    Магадан - 45601
                                </a>
                            </h4>
                        </div>
                        @{
                            GeospaceEntity.Models.Telegram.ForecastFiveDay forecastData1 = GeospaceEntity.Models.Telegram.ForecastFiveDay.GetByDateUTC(Station.GetByCode(45601), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);

                        }
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="F_45601IONFO" class="col-sm-3 control-label">IONFO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_45601IONFO" placeholder="" value="@{if (forecastData1 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData1.IONFO)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_45601IONES" class="col-sm-3 control-label">IONES</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_45601IONES" placeholder="" value="@{if (forecastData1 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData1.IONES)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_45601MAGPO" class="col-sm-3 control-label">MAGPO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_45601MAGPO" placeholder="" value="@{if (forecastData1 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData1.MAGPO)
                                                                                                                                  }}">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        @{
                            GeospaceEntity.Models.Telegram.ForecastFiveDay forecastData2 = GeospaceEntity.Models.Telegram.ForecastFiveDay.GetByDateUTC(Station.GetByCode(43501), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);

                        }
                        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                    Хабаровск - 43501
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="F_43501IONFO" class="col-sm-3 control-label">IONFO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_43501IONFO" placeholder="" value="@{if (forecastData2 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData2.IONFO)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_43501IONES" class="col-sm-3 control-label">IONES</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_43501IONES" placeholder="" value="@{if (forecastData2 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData2.IONES)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_43501MAGPO" class="col-sm-3 control-label">MAGPO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_43501MAGPO" placeholder="" value="@{if (forecastData2 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData2.MAGPO)
                                                                                                                                  }}">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        @{
                            GeospaceEntity.Models.Telegram.ForecastFiveDay forecastData3 = GeospaceEntity.Models.Telegram.ForecastFiveDay.GetByDateUTC(Station.GetByCode(46501), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);

                        }
                        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseThree">
                                    Паратунка - 46501
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="F_46501IONFO" class="col-sm-3 control-label">IONFO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_46501IONFO" placeholder="" value="@{if (forecastData3 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData3.IONFO)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_46501IONES" class="col-sm-3 control-label">IONES</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_46501IONES" placeholder="" value="@{if (forecastData3 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData3.IONES)
                                                                                                                                  }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="F_46501MAGPO" class="col-sm-3 control-label">MAGPO</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="F_46501MAGPO" placeholder="" value="@{if (forecastData3 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData3.MAGPO)
                                                                                                                                  }}">
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>


                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="SNumber" class="col-sm-5 control-label">Номер телеграммы</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="SNumber" placeholder="" value="@{if (forecastData2 != null)
                                                                                                                                  {
                                                                                                                                      @Html.Raw(forecastData2.NumberTelegram)
                                                                                                                                  }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AuthorTelegram" class="col-sm-5 control-label">Автор телеграммы</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="AuthorTelegram" placeholder="">
                        </div>
                    </div>

                </form>

                <p>

                    <input type="button" value="Печать" onclick="window.print();" class="btn btn-default btn-lg">
                    <input type="button" value="Сохранить" onclick="saveForecastTelegramBD();" class="btn btn-default btn-lg">                
    @*@Html.ActionLink("Сохранить",
                     "SubmitFiveDayTelegram",
            "Telegram",
            new
            {
                year = ViewBag.Year,
                month = ViewBag.Month,
                range_number = ViewBag.number

            },
                                new
                                {
                                    @class = "btn btn-default btn-lg"
                                }
)*@
                </p>
            </div>
        </div>
    </div>

</div>

@*
    <h2>Пятидневный прогноз на @Html.Raw(ViewBag.Date.ToString("MMMM yyyy") + " " + ViewBag.range.Header)</h2>
*@
<style type="text/css">
    p {
        align-content: center;
        font-family: 'Times New Roman';
        font-size: 18px;
    }

    .pager {
        margin: 0;
    }

    .print {
        background-color: rgb(238, 238, 238);
        float: left;
        width: 100%;
        overflow: scroll;
    }

    .forma-station {
        min-width: 500px;
        border-color: red;
        border-radius: 3px;
        background-color: rgb(226, 247, 244);
        float: left;
        height: 700px;
    }

    .station {
        font-family: 'Times New Roman';
        font-size: 18px;
        height: 100px;
    }
    /*
    .form-control{
        float:left;
        margin-right:0px;
        width:80px;
    }
    */
    .prognoz {
        float: left;
    }

    .prognoz-div {
        margin-top: 4px;
        margin-bottom: 6px;
    }

    .String {
        width: 600px;
        align-content: center;
        margin-left: 25px;
        font-family: 'Times New Roman';
        font-size: 17px;
        text-align: left;
    }

    #SNumber {
        margin-top: 8px;
    }

    #numberHab {
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 17px;
        margin-left: 30px;
    }
</style>
<style type="text/css" media="print">
    .forma-station, h2 {
        visibility: hidden;
        display: none;
    }

    .panel-default {
        border-color: white;
    }

    .print {
        overflow: auto;
        align-content: center;
    }

    body {
        padding-top: 20px;
        padding-left: 10px;
    }
</style>
<script type="text/javascript">

    function addEmpty(number)
    {
        var str = "";
        for(var i = 0; i < number; i++)
        {
            str += "/";
        }
        return str;
    }
    function divisionString(item)
    {
        if(item.length > 5 )
            {
                return item.substr(0,5) + " " + item.slice(5, item.length) + addEmpty(10 - item.length);
            }
            if (item.length < 5) {
                return item.slice(0, item.length) + addEmpty(5 - item.length);
            }
            return item;
    }
    function saveForecast() {
        var arrFor = [
        @foreach (var item in ViewBag.NameForecast)
        {
            @Html.Raw('"' + item+'"'+",");
        }
        ];
        var arrNum = [@foreach (var item in ViewBag.NumStation)
        {
            @Html.Raw(item+",");
        }]
        $.each(arrNum,function( i,item)
        {
            $.each(arrFor, function (index, element) {
                var forecast_F = $("#F_" + item + element).val();//значение забитые в input
                if (forecast_F)
                    document.getElementById(item + element).innerHTML = element + "   " + divisionString(forecast_F);
                else
                    document.getElementById(item + element).innerHTML = "";

            });
        });
        var snum = $("#SNumber").val();
        document.getElementById("numberHab").innerHTML =snum;
    }
</script>
@*
    <body>
        <div class="pager">
            <div class="print">
                <p>
                    МОСКВА ИПГ ДЕНИСОВОЙ<br />
                    НОВОСИБИРСК ГИМЕТ ШУСТЕР<br />
                    ПЯТИДНЕВНЫЙ ПРОГНОЗ<br />

                </p>
                <div>

    @foreach (var numStation in ViewBag.NumStation)
    {
        string strFFF = ("FFF");
        string strMM = ("MM");
        IList<Mediana> vMedian = Mediana.GetByRangeNumber(Station.GetByCode(numStation), ViewBag.Date.Year, ViewBag.Date.Month, ViewBag.number);
        foreach (var item in vMedian)//формирование строки для разбиения по 5 символов
        {
            strFFF += item.f0F2.ToString("D3");
            strMM += item.M3000F2.ToString("D2");
        }
        <div style="margin-bottom:20px">
            <div class="String">
                MEDIAN  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
            </div>
            <div class="String FFF">
                @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strFFF, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
                {
                   <span style="margin-right:10px;">@str5</span>
                }
            </div>
            <div class="String MM">
                @foreach (string str5 in new List<string>(System.Text.RegularExpressions.Regex.Split(strMM, @"(?<=\G.{5})", System.Text.RegularExpressions.RegexOptions.Singleline)))
                {
                    <span style="margin-right:10px;">@str5</span>
                }
            </div>
            <div class="String">
                FORECAST  @numStation  @Html.Raw(ViewBag.range.Min.ToString("D2") + "" + ViewBag.range.Max.ToString("D2") + "" + ViewBag.Date.Month % 10)
            </div>
            <div class="String">
               @foreach(var forecast in ViewBag.NameForecast)
               {
                   <span id="@numStation@forecast"></span>
               }
            </div>

        </div>
    }
                </div>
                <div id="numberHab"></div>
            </div>

            <div class="forma-station">
                @foreach (var item in ViewBag.NumStation)
    {
        Station st = Station.GetByCode(item);

        <div class="station " id="@st.Code">
            <div style="float:left; padding:10px 10px;">@st.Name - @st.Code</div>
            <div style="clear: both;margin-left:10px;">
                @foreach (var name in @ViewBag.NameForecast)
                {
                    <div class="prognoz form-group">
                        <div style="float:left; padding:5px 4px">@name:</div><input type="number" class="form-control" id="F_@item@name" placeholder="XXXXX" value="">
                    </div>
                }
            </div>
        </div>


    }

                <div style="float: left; font-family: 'Times New Roman'; font-size: 18px; margin:9px 1px"> Номер телеграммы</div>
                <input type="number" class="form-control" id="SNumber" placeholder="XXXXX" value="27">
                <input type="button" value="Сохранить" onclick="saveForecast();" class="btn btn-default btn-lg" >
                <input type="button" value="Печать" onclick="window.print();" class="btn btn-default btn-lg">
            </div>
        </div>

    </body>

*@