@{
    ViewBag.Title = "Трассы";
}

<h2>Трассы</h2>


<!--<p>Вывод расчета трассы (временный)</p>
    <textarea style="width:840px; height:500px" >DEBUG: @ViewBag.debug</textarea>-->
          

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</p>

<style>
    .borderMy {
        background-color:rgb(255, 248, 220)
    }
</style>

<table class="table table-bordered">
    <tr>
        <th>Наименование</th>
        <th>Длина трассы</th>
        <th>Кол-во точек отражения</th>
        <th>Кол-во точек поглащения</th>
        <th></th>
    </tr>
    @for (int j = 0; j < Model.tracks.Count; j++)
    {
        <tr class="clickable" data-toggle="collapse" id="row_@j" data-target=".row_@j" style="cursor:pointer">
            <td>
                @Html.Encode(Model.tracks[j].Name)
            </td>
            <td>
                @Model.tracks[j].lengthTrack
            </td>
            <td>
                @Model.tracks[j].KTO
            </td>
            <td>
                @Model.tracks[j].KTP
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.tracks[j].ID })
            </td>
        </tr>
        <tr class="collapse row_@j borderMy">
            <td rowspan="2">№</td>
            <td colspan="2">
                Точки отражения
            </td>
            <td colspan="2">Точки поглащения</td>
        </tr>
        <tr class="collapse row_@j borderMy">
            <td>Долгота</td>
            <td>Широта</td>
            <td>Долгота</td>
            <td>Широта</td>            
        </tr>

        for (int k = 0; k < Model.tracks[j].KTP; k++)
        {
            <tr class="collapse row_@j borderMy">
                <td>@(k+1)</td>
                @if (k < Model.tracks[j].KTO)
                {
                    <td>@Model.pointsO[j][k, 0]</td>
                    <td>@Model.pointsO[j][k, 1]</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>@Model.pointsP[j][k, 0]</td>
                <td>@Model.pointsP[j][k, 1]</td>               
            </tr>          
        }
    }
</table>