<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    })(jQuery);
</script>
<style type="text/css">


</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Content("~/")">
                <img style="max-width:100px; margin-top: -15px;" src="@Url.Content("~/Content/roshydromet.png")">
            </a>
            <a class="navbar-brand" href="@Url.Content("~/")">
                Геофизика
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @{
                    bool Local = true;
                    bool isActiveMenu = ViewBag.NameMenu != null;
                    string activeMenuName = isActiveMenu ? "active" : "";
                    string nameMenu = isActiveMenu ? ViewBag.NameMenu : "Меню";
                }

                <li class="dropdown @activeMenuName">
                    <a id="login_head" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@nameMenu<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        @helper ShowMenuLink(string linkText, string action, string controller, object routValues, string viewBagNameMenu, bool beforeDivider = false, bool afterDivider = false)
{
    if (ViewBag.NameMenu != viewBagNameMenu)
    {
        if (beforeDivider)
        {
            <li class="divider"></li>
        }

        string urlAction = Url.Action(action, controller, routValues);

        if (ViewBag.Station != null)
        {
            if (routValues == null)
            {
                urlAction += "?";
            }
            else
            {
                urlAction += "&";
            }

            urlAction += "stationCode=" + ViewBag.Station.Code.ToString("G");
        }

        <li><a href="@urlAction">@Html.Raw(linkText)</a></li>

        if (afterDivider)
        {
            <li class="divider"></li>
        }
    }
}
                        @if(ViewBag.Date != null && ViewBag.Station != null)
                        { 
                            @ShowMenuLink("Данные наблюдений", "Index", "Ionka", new { year = ViewBag.Date.Year, month = ViewBag.Date.Month, stationCode = ViewBag.Station.Code, type = "f0F2", day = ViewBag.Date.Day }, "Состояние ионосферы", false, true)
                            @ShowMenuLink("Данные наблюдений (высоты)", "Index", "Height", new { year = ViewBag.Date.Year, month = ViewBag.Date.Month, stationCode = ViewBag.Station.Code, type = "f0F2", day = ViewBag.Date.Day }, "Состояние ионосферы", false, true)

                            @ShowMenuLink("Прогноз медианы <b>f0F2</b>", "Index", "Mediana", new { year = ViewBag.Date.Year, month = ViewBag.Date.Month, stationCode = ViewBag.Station.Code, type = "f0F2", day = ViewBag.Date.Day }, "Прогноз медианы f0F2")
                            @ShowMenuLink("Прогноз медианы <b>M3000F2</b>", "Index", "Mediana", new { stationCode = ViewBag.Station.Code, type = "M3000F2", year = ViewBag.Date.Year, month = ViewBag.Date.Month, day = ViewBag.Date.Day }, "Прогноз медианы M3000F2")
                            <li class="divider"></li>
                            @ShowMenuLink("Суточные отклонения <b>f0F2</b>", "Index", "CharacterizationDay", new { type = "f0F2" }, "Суточные отклонения f0F2")
                            @ShowMenuLink("Суточные отклонения <b>M3000F2</b>", "Index", "CharacterizationDay", new { type = "M3000F2" }, "Суточные отклонения M3000F2")
                            @ShowMenuLink("Диаграмма медианы", "Index", "ChartMediana", new { stationCode = ViewBag.Station.Code, type = "f0F2", year = ViewBag.Date.Year, month = ViewBag.Date.Month, day = ViewBag.Date.Day }, "Диаграмма медианы", true, false)
                            <li class="divider"></li>
                            @ShowMenuLink("Геомагнитная обстановка", "Ap", "Umagf", new { stationCode = ViewBag.Station.Code, year = ViewBag.Date.Year, month = ViewBag.Date.Month, day = ViewBag.Date.Day }, "Геомагнитная обстановка")
                            @ShowMenuLink("Геомагнитная обстановка: K-индекс", "Index", "UmagfIndex", new { stationCode = ViewBag.Station.Code, year = ViewBag.Date.Year, month = ViewBag.Date.Month, day = ViewBag.Date.Day }, "Геомагнитная обстановка: K-индекс")

                            @ShowMenuLink("Информационная панель", "Index", "Panel", null, "Информационная панель", true)
                            
                        }
                        else
                        {
                            @ShowMenuLink("Данные наблюдений", "Index", "Ionka", null, "Состояние ионосферы", false, true)

                            @ShowMenuLink("Прогноз медианы <b>f0F2</b>", "Index", "Mediana", new { type = "f0F2" }, "Прогноз медианы f0F2")
                            @ShowMenuLink("Прогноз медианы <b>M3000F2</b>", "Index", "Mediana", new { type = "M3000F2" }, "Прогноз медианы M3000F2")
                            <li class="divider"></li>
                            @ShowMenuLink("Суточные отклонения <b>f0F2</b>", "Index", "CharacterizationDay", new { type = "f0F2" }, "Суточные отклонения f0F2")
                            @ShowMenuLink("Суточные отклонения <b>M3000F2</b>", "Index", "CharacterizationDay", new { type = "M3000F2" }, "Суточные отклонения M3000F2")
                            @ShowMenuLink("Диаграмма медианы", "Index", "ChartMediana", null, "Диаграмма медианы", true, false)
                            <li class="divider"></li>
                            @ShowMenuLink("Геомагнитная обстановка", "Ap", "Umagf", null, "Геомагнитная обстановка")
                             @ShowMenuLink("Геомагнитная обстановка: K-индекс", "Index", "UmagfIndex", null, "Геомагнитная обстановка: K-индекс")
                           
                            @ShowMenuLink("Информационная панель", "Index", "Panel", null, "Информационная панель")
                            
                        }
                    </ul>
                </li>

                @try
                {
                    @Html.Partial("_Menu")
                }
                catch (InvalidOperationException) { }
            </ul>

            <ul class="nav navbar-nav navbar-right">

                      
                      <li class="dropdown">

                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Продукция<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li>@Html.ActionLink("Нарушение радиосвязи", "Index", "Disturbance")</li>                              
                              <li class="divider"></li>
                              <li>@Html.ActionLink("Сводная таблица по Солнцу, магнитному полю Земли и ионосфере", "Index", "ConsolidatedTable")</li>
                              <li class="divider"></li>
                              <li>@Html.ActionLink("Телеграмма месячного прогноза", "Index", "ForecastMonthIonosphera")</li>
                              <li>@Html.ActionLink("Телеграмма пятидневного прогноза", "FiveDay", "Telegram")</li>
                              <li>@Html.ActionLink("Телеграмма полусуточного прогноза", "EditSubdayForecast", "Products")</li>
                              <li class="divider"></li>                              
                              <li>@Html.ActionLink("Обзор гелиогеофизической обстановки за сутки", "EditReviewGeoEnv", "Products")</li>
                              <li>@Html.ActionLink("Обзор гелиогеофизической обстановки за месяц", "EditReviewGeoEnvMonth", "Products")</li>
                              <li class="divider"></li>                             
                              <li>@Html.ActionLink("Геомагнитные данные по ст.Диксон", "Index", "Magma", new { station = 38701 }, null)</li>
                              <li class="divider"></li>
                              <li class="dropdown dropdown-submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Анализ<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                      
                                      @if (ViewBag.Date != null && ViewBag.Station != null && ViewBag.Station != null)
                                      {
                                          @ShowMenuLink("Средние значения <b>f0F2</b>", "Index", "Average", new { type = "f0F2" }, "Средние значения f0F2")
                                          @ShowMenuLink("Средние значения <b>M3000F2</b>", "Index", "Average", new { type = "M3000F2" }, "Средние значения M3000F2")
                                      }
                                      else
                                      {
                                          @ShowMenuLink("Средние значения <b>f0F2</b>", "Index", "Average", new { type = "f0F2" }, "Средние значения f0F2")
                                          @ShowMenuLink("Средние значения <b>M3000F2</b>", "Index", "Average", new { type = "M3000F2" }, "Средние значения M3000F2")
                                      }
                                      <li class="divider"></li>
                                      @if (ViewBag.Date != null && ViewBag.Station != null && ViewBag.Station != null)
                                      {
                                          @ShowMenuLink("Оценки <b>f0F2</b>", "Index", "Marks", new { type = "f0F2" }, "Оценки f0F2")
                                          @ShowMenuLink("Оценки <b>M3000F2</b>", "Index", "Marks", new { type = "M3000F2" }, "Оценки M3000F2")
                                      }
                                      else
                                      {
                                          @ShowMenuLink("Оценки <b>f0F2</b>", "Index", "Marks", new { type = "f0F2" }, "Оценки f0F2")
                                          @ShowMenuLink("Оценки <b>M3000F2</b>", "Index", "Marks", new { type = "M3000F2" }, "Оценки M3000F2")
                                      }
                                  </ul>
                              </li>
                              <li class="divider"></li>
                              <li class="dropdown dropdown-submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Прогноз радиотрасс<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                      <li>@Html.ActionLink("Месячный прогноз радиотрасс", "Index", "ForecastMonthTrack")</li>
                                      <li>@Html.ActionLink("Пятидневный прогноз радиотрасс", "Index", "ForecastFiveDayTrack")</li>                                      
                                  </ul>
                              </li>
                              <li>@Html.ActionLink("Действующие значения МПЧ", "Index", "ForecastTrack")</li>
                          </ul>
                      </li>

                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Справочники<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li>@Html.ActionLink("Станции", "Index", "Stations")</li>
                              <li>@Html.ActionLink("География станций", "Stations", "Map")</li>
                              <li class="divider"></li>
                              <li>@Html.ActionLink("Пункты", "Index", "Post")</li>
                              @{if (ViewBag.IsLocal == Local) {<li>@Html.ActionLink("Трассы", "Index", "Track")</li>}}
                              @{if (ViewBag.IsLocal == Local) {<li>@Html.ActionLink("Потребители", "Index", "Consumer")</li>}}  
                              
                              
                                  
                              @{if (ViewBag.IsLocal == Local) {<li class="divider"></li>
                              <li>@Html.ActionLink("Список Ошибок", "ErrorList", "Dropout")</li>}}      
                          </ul>
                      </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Помощь<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Справка", "Index", "About")</li>
                        @{if (ViewBag.IsLocal == Local){
                            <li class="divider"></li> 
                            <li>@Html.ActionLink("Настройки", "Index", "Settings")</li>
                            <li>@Html.ActionLink("Обновить схему", "Update", "Schema")</li>
                        }}
                        <li class="divider"></li>
                        <li>
                            <a href="~/about/api">API <br/><code>Интерфейс получения данных в JSON формате</code> </a>
                        </li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Примечания к графикам и таблицам", "EditDescription", "Products")</li>
                        <li class="divider"></li>
                        <li><a href="http://www.khabmeteo.ru/geo" target="_blank">Геофизика на Хабаровск Погода Центр </a></li>

                    </ul>
                </li>
                      <!--
            <li>@Html.ActionLink("Настройки", "Index", "Settings")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Администрирование<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Обновить схему", "Update", "Schema")</li>
                </ul>
            </li>
                -->
                  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>