<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@Url.Content("~/")">
        <img style="max-width:100px; margin-top: -15px;" src="@Url.Content("~/Content/roshydromet.png")">        
      </a>
      <a class="navbar-brand" href="@Url.Content("~/")">
        Геофизика
      </a>
      
    </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

                  @{
                      bool isActiveMenu = ViewBag.NameMenu != null;
                      string activeMenuName = isActiveMenu ? "active" : "";
                      string nameMenu = isActiveMenu ? ViewBag.NameMenu : "Меню";
                  }

                  <li class="dropdown @activeMenuName">
                      <a id="login_head" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@nameMenu<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">

                        @helper ShowMenuLink(string linkText, string action, string controller, object routValues, string viewBagNameMenu, bool beforeDivider = false, bool afterDivider = false)
                        {
                            if (ViewBag.NameMenu != viewBagNameMenu)
                            {
                                if(beforeDivider)
                                {
                                    <li class="divider"></li>
                                }
                                
                                <li><a href="@Url.Action(action, controller, routValues)">@Html.Raw(linkText)</a></li>
                            
                                if(afterDivider)
                                {
                                    <li class="divider"></li>
                                }
                            }
                        }

                          @ShowMenuLink("Данные", "Index", "Ionka", null, "Данные", false, true)

                          @ShowMenuLink("Медиана <b>f0F2</b>", "Index", "Mediana", new { type = "f0F2" }, "Медиана f0F2")
                          @ShowMenuLink("Медиана <b>M3000</b>", "Index", "Mediana", new { type = "M3000F2" }, "Медиана M3000")
                          <li class="divider"></li>
                          @ShowMenuLink("Характеристика суток <b>f0F2</b>", "Index", "CharacterizationDay", new { type = "f0F2" }, "Характеристика суток f0F2")
                          @ShowMenuLink("Характеристика суток <b>M3000</b>", "Index", "CharacterizationDay", new { type = "M3000F2" }, "Характеристика суток M3000")

                          @ShowMenuLink("Диаграмма", "Index", "ChartMediana", null, "Диаграмма", true, false)

                      </ul>
                  </li>
                  @try
                  {
                     @Html.Partial("_Menu")
                  }
                  catch (InvalidOperationException) { }
                  </ul>

                  <ul class="nav navbar-nav navbar-right">

                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Продукция<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li>@Html.ActionLink("Редактировать продукцию", "Index", "Products")</li>
                              
                              <li class="divider"></li>
                              <li>@Html.ActionLink("География станций", "Stations", "Map")</li>
                              <!--
                              <li>@Html.ActionLink("Месячный прогноз ионосферной магнитной возмущенности", "EditForecastMonthIonosphera", "Products")</li>
                              <li>@Html.ActionLink("Пятидневный прогноз медианы", "EditForecastDaysFives", "Products")</li>
                              <li>@Html.ActionLink("Месячный обзор гелеогеофизической обстановки", "EditReviewGeoEnvMonth", "Products")</li>
                              <li class="divider"></li>
                              <li>@Html.ActionLink("Сводная таблица по разделам: солнце, магнитное поле Земли, ионосфера", "DownloadTableSun", "Products")</li>
                              <li>@Html.ActionLink("Таблица нарушения радиосвязи", "DownloadDisturbanceRadio", "Products")</li>
                              -->
                          </ul>
                      </li>

                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Справочники<span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li>@Html.ActionLink("Станции", "Index", "Stations")</li>
                              <!--                          <li>@Html.ActionLink("Группы абонентов", "Index", "Group")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Территория", "Index", "Territory")</li>
                    <li>@Html.ActionLink("Административные районы и населённые пункты", "Index", "Region")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Облачность", "Index", "CloudinessTemplate")</li>
                    <li>@Html.ActionLink("Осадки", "Index", "PrecipitationTemplate")</li>
                    <li>@Html.ActionLink("Ветер", "Index", "WindTemplate")</li>
                    <li>@Html.ActionLink("Явления", "Index", "ConditionTemplate")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Уточнения", "Index", "ClarificationTemplate")</li>
                        -->
                          </ul>
                      </li>
                      <!--
            <li>@Html.ActionLink("Настройки", "Index", "Settings")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Администрирование<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Обновить схему", "Update", "Schema")</li>
                </ul>
            </li>
                -->
                  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>