@using GeospaceEntity.Models.Codes;
@{
    ViewBag.Title = @ViewBag.Title;
}

@section Scripts
{
    @Scripts.Render("~/bundles/ionka-edit")
}

@section Styles
{
    @Styles.Render("~/Content/ionka.css")
}

@{
    var firstItemHeader = Model.GetHeader()[0];
}

<script>
    var submitUrl = "@Url.Action("Submit", "Ionka")";
    var addUrl = "@Url.Action("Add", "Ionka")";
    var submitUmagfUrl = "@Url.Action("SubmitUmagf", "Ionka")";
    var currentYear = "@firstItemHeader.YYYY";
    var currentMonth = "@firstItemHeader.MM";
    var currentStationCode = "@Model.StationCode";
</script>

<style>
    html, body, table, .row, .col-md-12 {
        height: 100%;
    }

    .container-fluid {
        height: 90%;
    }

    tr.ionka-data td {
        padding: 0px !important;
        text-align: center;
        vertical-align: middle !important;
    }

    td.umagf-data {
        padding: 0px !important;
        padding-left: 8px !important;
        vertical-align: middle !important;
        height: 30px;
    }

    th.ionka-header {
        padding: 0px !important;
        padding-bottom: 8px !important;
        padding-top: 8px !important;
        text-align: center;

        width: auto;
    }

    td.kind-data {
        padding: 8px !important;
        vertical-align: middle !important;
        height: 30px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <table style="table-layout: fixed" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" style="width: 36px">
                        Час
                    </th>
                    @foreach (var item in Model.GetHeader())
                    {
                        <th class="right-thick-line left-thick-line" colspan="7">
                            @item.Name
                        </th>
                    }
                </tr>

                <tr>

                    @foreach (var item in Model.GetHeader())
                    {
                        var listSubItem = Model.GetHeaderValue();
                        var lastSubItem = listSubItem[listSubItem.Count - 1];
                        var firstSubItem = listSubItem[0];

                        foreach (var _subitem in listSubItem)
                        {
                            var subitem = _subitem.Replace(" ", "<br>");

                            if (_subitem == firstSubItem)
                            {
                                <th class="left-thick-line sub-header ionka-header">
                                    @Html.Raw(subitem)
                                </th>
                            }
                            else if (_subitem == lastSubItem)
                            {
                                <th class="right-thick-line sub-header ionka-header">
                                    @Html.Raw(subitem)
                                </th>
                            }
                            else
                            {
                                <th class="sub-header ionka-header">
                                    @Html.Raw(subitem)
                                </th>
                            }
                        }
                    }

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.GetHour())
                {
                    <tr class="ionka-data">
                        <td>
                            @item.Name
                        </td>
                        @foreach (var subitem in Model.GetHeader())
                        {
                            CodeIonka theCode = Model.GetValue(subitem.YYYY, subitem.MM, subitem.DD, item.HH);

                            bool isLowDensityIonization = theCode._f0F2 == "G" && theCode._M3000F2 == "G";
                            bool isDiffusio = theCode._f0F2 == "F" && theCode._M3000F2 == "F";
                            bool isStationError = theCode._f0F2 == "C" && theCode._M3000F2 == "C";
                            bool isAbsorption = theCode._f0F2 == "B" && theCode._M3000F2 == "B";
                            string editable = theCode._f0F2.IsEmpty() ? "add-ionka" : "editable-ionka";
                            string editableWithLowDensityIonization = theCode._f0F2.IsEmpty() || isLowDensityIonization == false ? "" : "editable-ionka";

                            <td class="left-thick-line @editable" data-day="@subitem.DD" data-hour="@item.HH" data-type="f0F2" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @theCode._f0F2
                            </td>
                            <td class="@editable" data-day="@subitem.DD" data-hour="@item.HH" data-type="M3000F2" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @theCode._M3000F2
                            </td>
                            <td class="@editableWithLowDensityIonization" data-day="@subitem.DD" data-hour="@item.HH" data-type="f0F1" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @if (isLowDensityIonization)
                                {
                                    @theCode._f0F1
                                }
                            </td>
                            <td class="@editableWithLowDensityIonization" data-day="@subitem.DD" data-hour="@item.HH" data-type="M3000F1" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @if (isLowDensityIonization)
                                {
                                    @theCode._M3000F1
                                }
                            </td>
                            <td class="@editable" data-day="@subitem.DD" data-hour="@item.HH" data-type="f0Es" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @if(isAbsorption)
                                {
                                    @: B
                                }
                                else if (theCode._f0Es == "G" || theCode._f0Es == "B" || theCode._f0Es == "0")
                                {
                                    @: 00
                                }
                                else
                                {
                                    @theCode._f0Es
                                }
                            </td>
                            <td class="@editable" data-day="@subitem.DD" data-hour="@item.HH" data-type="D" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">
                                @if (isStationError)
                                {
                                    @: C
                                }
                                else if(isAbsorption)
                                {
                                    @: B
                                }
                                else if(isDiffusio)
                                {
                                    @: 3
                                }
                                else if (theCode._Diffusio != "-1")
                                {
                                    @theCode._Diffusio
                                }
                                else if (theCode._f0F2.IsEmpty() == false)
                                {
                                    @: 0
                                }
                            </td>
                            <td class="right-thick-line @editable" data-day="@subitem.DD" data-hour="@item.HH" data-type="fmin" data-toggle="tooltip" data-placement="left" title="@(theCode.Raw)">@theCode._fmin</td>


                        }

                    </tr>

                }
                <tr>

                    @functions {
                        string convertToTwoNumbers(string val)
                        {
                            string str = "";

                            if (val.Length == 1)
                            {
                                str = "0";
                            }

                            return str + val;
                        }
                    }

                    <td rowspan="3"></td>
                    @foreach (var item in Model.GetHeader())
                    {

                        CodeUmagf theCode = Model.GetValueUmagf(item.YYYY, item.MM, item.DD);

                        string editable = theCode._k1.IsEmpty() ? "" : "editable-umagf";

                        <td class="right-thick-line left-thick-line @editable umagf-data" data-id="@theCode.ID" data-type="ak" colspan="7">
                            Ak=@convertToTwoNumbers(theCode._ak)
                        </td>
                    }
                </tr>

                <tr>
                    @foreach (var item in Model.GetHeader())
                    {
                        <td class="right-thick-line left-thick-line umagf-data" colspan="7">
                            K-индексы
                        </td>
                    }
                </tr>

                <tr>
                    @foreach (var item in Model.GetHeader())
                    {

                        CodeUmagf theCode = Model.GetValueUmagf(item.YYYY, item.MM, item.DD);

                        string editable = theCode._k1.IsEmpty() ? "" : "editable-umagf";

                        <td class="right-thick-line left-thick-line kind-data" colspan="7">
                            <table class="table-bordered" width="100%">

                                <tr>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k1" width="12%">@theCode._k1</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k2" width="12%">@theCode._k2</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k3" width="12%">@theCode._k3</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k4" width="12%">@theCode._k4</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k5" width="12%">@theCode._k5</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k6" width="12%">@theCode._k6</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k7" width="12%">@theCode._k7</td>
                                    <td class="@editable" data-id="@theCode.ID" data-type="k8" width="12%">@theCode._k8</td>
                                </tr>

                            </table>
                        </td>
                    }
                </tr>

                <tr>
                    <td rowspan="2"></td>
                    @foreach (var item in Model.GetHeader())
                    {
                        <td class="right-thick-line left-thick-line umagf-data" colspan="7">Явления</td>
                    }
                </tr>

                <tr>
                    @foreach (var item in Model.GetHeader())
                    {
                        CodeUmagf theCode = Model.GetValueUmagf(item.YYYY, item.MM, item.DD);

                        string editable = theCode._k1.IsEmpty() ? "" : "editable-umagf";

                        <td class="right-thick-line left-thick-line @editable umagf-data" data-id="@theCode.ID" data-type="events" colspan="7" style="height: 27px">@theCode._events</td>
                    }
                </tr>

            </tbody>
        </table>
    </div>

</div>
