@using GeospaceEntity.Helper;
@{
    ViewBag.Title = @ViewBag.Title;
}

<style type="text/css" media="print">
    .form-group {
        visibility: hidden;
        display: none;
    }

    .breakPage {
        page-break-after: always;
    }
</style>




@using (Html.BeginForm("Calc", "ForecastFiveDayTrack", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Потребители</label>
        <div class="col-sm-10">
            <select name="Consumer" class="form-control" >
                @foreach (var item in Model.consumers)
                {
                    if( item.ID == Model.id )
                    {
                        <option value="@item.ID" selected>@item.Name</option>
                    }
                    else
                    { 
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="W" class="col-sm-2 control-label">W:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="W" id="W " value="@Model.W">
        </div>
    </div>

    <div class="form-group">
        <label for="month" class="col-sm-2 control-label">Месяц:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="month" id="month " value="@Model.month">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Рассчитать трассы</button>
            <input type="button" value="Печать" onclick="window.print();" class="btn btn-default">
        </div>
    </div>
}
@for (int i = 0; i < Model.quantity; i++)
{
    <div class="block_@i breakPage">
        <h4 style="align-items: center; font-size: 20px;"><textarea name="comment" readonly style="border: none; height: 120px; width: 500px; overflow: hidden; resize: none; ">@Model.title[i]</textarea></h4>
        <table style="table-layout: fixed; font-size: 20px;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>UT</th>
                    <th>МПЧ</th>
                    <th>ОРЧ</th>
                    <th>UT</th>
                    <th>МПЧ</th>
                    <th>ОРЧ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.table[i])
                {
                    <tr>
                        @foreach (var el in line)
                        {
                            <td>@el</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div id="container_@i" style="height: 500px; "></div>
        @DrawTrack("container_" + @i.ToString(), "Пятидневный прогноз для радиотрасс", @Model.listOutput[i])
    </div>
}



@section Scripts
{
    @Scripts.Render("~/Scripts/highcharts.js")
    @Scripts.Render("~/Scripts/draggable-points.js")
}

@helper DrawTrack(string nameDiv, string title, List<string> value)
{
    <script>

    $(function () {
        $('#@(nameDiv)').highcharts({
            title: {
                text: '@title'
            },
            xAxis :{
                title: {
                    text: 'Часы (UT)'
                },
                categories: [
                @for(int i=0;i<25;i++)
                {
                    @Html.Raw("'"+i.ToString("00")+"'")

                    if(i!=24)
                    {
                        @:,
                        }
                }
                ],
                labels: {
                    style: {
                        color: 'black',
                        fontSize:'20px'
                    }
                },
                    lineWidth: 2,
                    gridLineWidth: 1,
                    tickInterval:1,
                    tickmarkPlacement: 'on',
                },
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: 'black',
                            fontSize:'20px',
                        }
                    },
                    title: {
                        text:'Частота МГц',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }, ],
                tooltip: {
                    shared: true
                },

                series: [{
                name: 'МПЧ',
                type: 'spline',
                color: 'red',
                data:  @value[0],
                marker: {
                    enabled: true,
                    symbol: 'square',
                    radius: 6
                },
            }
            , {
                name: 'ОРЧ',
                type: 'spline',
                color: 'green',
                data:  @value[1],
                dashStyle: 'LongDash',
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 6
                },
            }
             ]
            });
        });
    </script>
}