@model GeospaceMediana.Models.ViewDisturbanceList
@{
    ViewBag.Title = "Нарушение радиосвязи";
}
<script>
    var submitUrl = "@Url.Action("Submit", "Disturbance")";
    var deleteUrl = "@Url.Action("Delete", "Disturbance")";
    var currentYear = "@ViewBag.YYYY";
    var currentMonth = "@ViewBag.MM.ToString("D2")";
</script>
<style type="text/css">
    .col-md-3:hover {
        background-color:RGB(238,238,238);
        cursor: pointer;
    }
    #startTimePeriod, #durationTimePeriod {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    table, th {
        text-align: center;
    }
</style>
<script type="text/javascript">
    function handleSaveTime(station, day, Name) {
        $(".modal-body").html("<h3>Загрузка ... </h3>");
        $("#stationNum").val(station);
        $("#dayInMonths").val(day);
        $("#startTimePeriod").val(0);
        $("#durationTimePeriod").val(1);
        $(".modal-title").html("Нарушение радиосвязи на ст. " + Name + " за " + day + "." + currentMonth + "." + currentYear);
            var param = { StationCode: station, YYYY: window.currentYear, MM: window.currentMonth, DD: day };
            $.ajax({
                url: '@Url.Action("GetHoursForHtmlModalBody", "Disturbance")',
                data: param,
                success: function (data) {
                    console.log("data");
                    $(".modal-body").html(data);
                },
                error: function (x, e) {
                    console.log("Error");
                }
            });
    }
    function Submit() {
        $('#myModal').modal('hide');
        var StationCode = $("#stationNum").val();
        var YYYY = window.currentYear;
        var MM = window.currentMonth;
        var DD = $("#dayInMonths").val();
        var param = { StationCode: StationCode, YYYY: YYYY, MM: MM, DD: DD};
        $.ajax({
            url: '@Url.Action("Display", "Disturbance")',
            data: param,
            success: function (data) {

                var td = StationCode.toString() + DD.toString();
                console.log($("#"+td.toString()));
                $("#"+td.toString()).text(data);
            },
            error: function (x, e) {
                console.log("Error");
            }
        });
    }
</script>
<table class="table table-bordered table-striped table-disturbance">
    <thead>
        <tr>
            <th colspan="@(Model.theStationList.Count + 1)">
                @Model.Title
            </th>
        </tr>
        <tr>
            <th rowspan="2">День</th>
            <th colspan="@Model.theStationList.Count">Станция</th>

        </tr>

        <tr>
            @foreach (var item in Model.theStationList)
            {
                <th>@item.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= DateTime.DaysInMonth(ViewBag.YYYY, ViewBag.MM); i++)
        {
            <tr>
                <td>@i</td>
                @foreach (var item in Model.theStationList)
{
    <td id="@item.Code@i" data-whatever="@item.Code@i" data-toggle="modal" data-target="#myModal" class="col-md-3" onclick="handleSaveTime('@(item.Code)','@i', '@(item.Name)' )">@Html.Raw(Model.Display(item.Code, ViewBag.YYYY, ViewBag.MM, i))</td>
}
            </tr>
        }
    </tbody>
</table>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModelLable">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabele"></h4>
                    </div>
                    <a id="stationNum"></a>
                    <a id="dayInMonths"></a>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="Submit()">Закрыть</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    