@using GeospaceEntity.Helper;
@{
    ViewBag.Title = @ViewBag.Title;
    
}

<h3>@ViewBag.Station.Name - @ViewBag.Station.Code.ToString() за @ViewBag.Date.ToShortDateString()</h3>

<div id="container" style="width:100%; height:500px;"></div>

<div id="container_05" style="width:100%; height:500px;"></div>
<div id="container_07" style="width:100%; height:500px;"></div>
<div id="container_10" style="width:100%; height:500px;"></div>
<div id="container_20" style="width:100%; height:500px;"></div>
<div id="container_27" style="width:100%; height:500px;"></div>
<div id="container_30" style="width:100%; height:500px;"></div>

<hr />

@DrawTable(ViewBag.marks_05, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 5 дней")
@DrawTable(ViewBag.marks_07, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 7 дней")
@DrawTable(ViewBag.marks_10, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 10 дней")
@DrawTable(ViewBag.marks_20, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 20 дней")
@DrawTable(ViewBag.marks_27, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 27 дней")
@DrawTable(ViewBag.marks_30, "Оценка скользящих средних " + @ViewBag.Type + " для слоя F2 за 30 дней")

@section Scripts
{
    @Scripts.Render("~/Scripts/highcharts.js")
    @Scripts.Render("~/Scripts/draggable-points.js")

    @DrawAverage("container_05", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 5 дней", @ViewBag.value_05, @ViewBag.value_05_skip, @ViewBag.value, "5", @ViewBag.mediana,  @ViewBag.textY, @ViewBag.max, @ViewBag.step)
    @DrawAverage("container_07", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 7 дней", @ViewBag.value_07, @ViewBag.value_07_skip, @ViewBag.value, "7", @ViewBag.mediana, @ViewBag.textY, @ViewBag.max, @ViewBag.step)
    @DrawAverage("container_10", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 10 дней", @ViewBag.value_10, @ViewBag.value_10_skip, @ViewBag.value, "10", @ViewBag.mediana, @ViewBag.textY, @ViewBag.max, @ViewBag.step)
    @DrawAverage("container_20", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 20 дней", @ViewBag.value_20, @ViewBag.value_20_skip, @ViewBag.value, "20", @ViewBag.mediana, @ViewBag.textY, @ViewBag.max, @ViewBag.step)
    @DrawAverage("container_27", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 27 дней", @ViewBag.value_27, @ViewBag.value_27_skip, @ViewBag.value, "27", @ViewBag.mediana, @ViewBag.textY, @ViewBag.max, @ViewBag.step)
    @DrawAverage("container_30", "Скользящие средние " + @ViewBag.Type + " для слоя F2 за 30 дней", @ViewBag.value_30, @ViewBag.value_30_skip, @ViewBag.value, "30", @ViewBag.mediana, @ViewBag.textY, @ViewBag.max, @ViewBag.step)
 }

@helper DrawTable( int [,] marks, string header )
{
    <table style="table-layout: fixed" class="table table-bordered table-striped">
        <thead style="width: 100%">
            <tr>
                <th colspan="25">
                    @header
                </th>
            <tr>
                <th style="width: 100%">Оценка</th>
                @for (int i = 0; i < 24; i++)
                {
                    <td>@i</td>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Δс/м</td>
                @for (int j = 0; j < 24; j++)
                {
                    if(marks[0,j] < 1000)
                    {
                        <td>@marks[0, j]</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
            </tr>
            <tr>
                <td>Δс/ф</td>
                @for (int j = 0; j < 24; j++)
                {
                    if(marks[1,j] < 1000)
                    {
                        <td>@marks[1, j]</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
            </tr>
            <tr>
                <td>Δм/ф</td>
                @for (int j = 0; j < 24; j++)
                {
                    if(marks[2,j] < 1000)
                    {
                        <td>@marks[2, j]</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
            </tr>
        </tbody>
    </table>
}

@helper DrawAverage( string nameDiv, string title, string valueAverage, string valueSkip, string value, string quantity, string mediana, string textY, string max, string step)
{
    <script>

    $(function () {
        $('#@(nameDiv)').highcharts({
            title: {
                text: '@title'
            },
            xAxis :{
                title: {
                    text: 'Часы (UT)'
                },
                categories: [
                @for(int i=0;i<24;i++)
                {
                    @Html.Raw("'"+i.ToString("00")+"'")

                    if(i!=23)
                    {
                        @:,
                    }
                }
            ],
            lineWidth: 2,
            gridLineWidth: 1,
            tickInterval:1,
            tickmarkPlacement: 'on',
        },
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text:'@textY',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            min: 0,
            max: @max,
            tickInterval: @step,
        }, { // Secondary yAxis
            title: {
                text: 'Количество пропущенных значений',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true,
            min: 0,
            max: '@quantity',
            tickInterval: 1,
        }],
        tooltip: {
            shared: true
        },

        series: [{
            name: 'Пропущенные значения',
            type: 'column',
            yAxis: 1,
            data: @valueSkip

                }, {
                    name: 'Средняя частота @ViewBag.Type',
                    type: 'spline',
                    data: @valueAverage
                    }
            , {
                name: 'Фактическая частота @ViewBag.Type',
                type: 'spline',
                color: 'green',
                data: @value
                }
            , {
                name: 'Медиана @ViewBag.Type',
                type: 'spline',
                color: 'orange',
                data: @mediana
            }]
        });
    });

</script>
}

<script>

    $(function () {
        $('#container').highcharts({
            title: {
                text: 'Анализ: средних значений (5, 7, 10, 20, 27, 30 дней), медианых и фактических значений'
            },
            xAxis :{
                title: {
                    text: 'Часы (UT)'
                },
                categories: [
                @for(int i=0;i<24;i++)
                {
                    @Html.Raw("'"+i.ToString("00")+"'")

                    if(i!=23)
                    {
                        @:,
                    }
                }
                ],
                lineWidth: 2,
                gridLineWidth: 1,
                tickInterval:1,
                tickmarkPlacement: 'on',
            },
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text:'@ViewBag.textY',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                min: 0,
                max: @ViewBag.max,
                tickInterval: @ViewBag.step,
            }, { // Secondary yAxis
                title: {
                    text: 'Количество пропущенных значений',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true,
                min: 0,
                max: '@ViewBag.quantity',
                tickInterval: 1,
            }],
            tooltip: {
                shared: true
            },

            series: [{
                name: '5 дней',
                type: 'spline',
                data:  @ViewBag.value_05,
            }
            , {
                name: '7 дней',
                type: 'spline',
                data:  @ViewBag.value_07,
            }
            , {
                name: '10 дней',
                type: 'spline',
                data:  @ViewBag.value_10,
            }
            , {
                name: '20 дней',
                type: 'spline',
                data:  @ViewBag.value_20,
            }
            , {
                name: '27 дней',
                type: 'spline',
                data:  @ViewBag.value_27,
            }
            , {
                name: '30 дней',
                type: 'spline',
                data:  @ViewBag.value_30,
            }
            , {
                name: 'Фактическая частота',
                type: 'spline',
                color: 'green',
                data:  @ViewBag.value,
            }
            , {
                name: 'Медиана',
                type: 'spline',
                color: 'orange',
                data:  @ViewBag.mediana,
            }
            , ]
        });
    });
</script>