@{
    ViewBag.Title = "Продукция";
}

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>

}


<h2>Обзор гелиогеофизической обстановки</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditReviewGeoenv" role="button">Изменить</a>
    <a class="btn btn-default" href="~/Products/ShowReviewGeoenv" role="button">Просмотр</a>
<p>
<div id="div-review-geoenv" class="forecast">

    <p>
        @Html.Raw("<pre>"+ Html.Encode(Model.review_geoenv) + "</pre>")
    </p>
</div>

<h2>Полусуточный прогноз</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditSubdayForecast" role="button">Изменить</a>
    <a class="btn btn-default" href="~/Products/ShowSubdayForecast" role="button">Просмотр</a>
<p>
    <div id="div-subday-forecast" class="forecast">

<p>
    @Html.Raw("<pre>" + Html.Encode(Model.subday_forecast) + "</pre>")
</p>
</div>

<h2>Пятидневный прогноз медианы</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditForecastDaysFives" role="button">Изменить</a>
    <a class="btn btn-default" href="~/Products/ShowForecastDaysFives" role="button">Просмотр</a>
<p>
    <div id="div-forecast-days-fives" class="forecast">


<p>
    @Html.Raw("<pre>"+ Html.Encode(Model.forecast_days_fives) + "</pre>")
</p>
</div>


<h2>Месячный прогноз ионосферной магнитной возмущенности</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditForecastMonthIonosphera" role="button">Изменить</a>
    <a class="btn btn-default" href="~/Products/ShowForecastMonthIonosphera" role="button">Просмотр</a>
    
 <p>
<div id="div-forecast-month-ionosphera" class="forecast">
    <p>
        @Html.Raw("<pre>"+ Html.Encode(Model.forecast_month_ionosphera) + "</pre>")
    </p>
</div>



<h2>Месячный обзор гелиогеофизической обстановки</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditReviewGeoenvMonth" role="button">Изменить</a>
    <a class="btn btn-default" href="~/Products/ShowReviewGeoenvMonth" role="button">Просмотр</a>
</p>
    <div id="div-review-geoenv-month" class="forecast">
<p>
    @Html.Raw("<pre>"+ Html.Encode(Model.review_geoenv_month) + "</pre>")
</p>
        </div>
    </p>
</p>



<h2>Примечание к таблицам и графикам</h2>
<p>
    <a class="btn btn-default" href="~/Products/EditDescription" role="button">Изменить</a>
<p>
    <div id="div-description" class="forecast">

<p>
    @Html.Raw("<pre>" + Html.Encode(Model.description) + "</pre>")
</p>
</div>