@model GeospaceEntity.Models.Settings

@{
    ViewBag.Title = "Настройки";
}

<h2>Настройки</h2>


@using (Html.BeginForm("Edit", "Settings", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Настройки</div>
        <div class="panel-body">

            <div class="form-group">
                <label for="MonthForecastTrack" class="col-sm-2 control-label">Месячный прогноз радиотрасс:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="MonthForecastTrack" name="MonthForecastTrack" value="@Model.MonthForecastTrack">
                </div>
            </div>

            <div class="form-group">
                <label for="FiveDayForecastTrack" class="col-sm-2 control-label">Пятидневный прогноз радиотрасс:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="FiveDayForecastTrack" name="FiveDayForecastTrack" value="@Model.FiveDayForecastTrack">
                </div>
            </div>

            <div class="form-group">
                <label for="CalcTrack" class="col-sm-2 control-label">Расчет трассы:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CalcTrack" name="CalcTrack" value="@Model.CalcTrack">
                </div>
            </div>

            <div class="form-group">
                <label for="DATADIR" class="col-sm-2 control-label">Коэффициенты расчета для радиотрасс:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="DATADIR" name="DATADIR" value="@Model.DATADIR">
                </div>
            </div>

            <div class="form-group">
                <label for="SNMP_host" class="col-sm-2 control-label">SNMP сервер:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SNMP_host" name="SNMP_host" value="@Model.SNMP_host" >
                </div>
            </div>

            <div class="form-group">
                <label for="SNMP_port" class="col-sm-2 control-label">SNMP порт:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="SNMP_port" name="SNMP_port" value="@Model.SNMP_port" >
                </div>
            </div>

            <div class="form-group">
                <label for="Email_ASPD_To" class="col-sm-2 control-label">Адрес службы АСПД:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Email_ASPD_To" name="Email_ASPD_To" value="@Model.Email_ASPD_To" >
                </div>
            </div>

            <div class="form-group">
                <label for="Email_ASPD_From" class="col-sm-2 control-label">Адрес отправителя:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Email_ASPD_From" name="Email_ASPD_From" value="@Model.Email_ASPD_From" >
                </div>
            </div>
            

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
}

