@using GeospaceEntity.Models;
@{
    ViewBag.Title = @ViewBag.Title;
}


@section Styles
{
    @Styles.Render("~/Content/css-loadtriangles.css")
}

<script>
    @*var submitUrl = "@Url.Action("Submit", "ConsolidatedTable")";*@
    var currentYear = "@ViewBag.Year";
    var currentMonth = "@ViewBag.Month";
</script>

<h2>Сводная таблица за (@ViewBag.DateString)</h2>
<script type="text/javascript">
    function handleSaveTime( day, Name) {
        $(".modal-title").html("Энергичное событие за " + day +  " " + Name);
    }
</script>

<style>
    table td, th {
        text-align: center !important;
        vertical-align: middle !important;
    }

    #edit {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 1px;
        border-style: solid;
        border-color: #666;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .sticky-wrap {
        overflow-x: auto;
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;
    }

        .sticky-wrap .sticky-thead,
        .sticky-wrap .sticky-col,
        .sticky-wrap .sticky-intersect {
            opacity: 0;
            position: absolute;
            top: 0px;
            left: 0;
            transition: all .125s ease-in-out;
            z-index: 50;
            width: auto;
        }

        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%;
        }

        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }

            .sticky-wrap .sticky-intersect th {
                background-color: #666;
                color: #eee;
            }

        .sticky-wrap td,
        .sticky-wrap th {
            box-sizing: border-box;
        }

    .delta_out {
        color: gray;
    }

    .rotate {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        /* Should be unset in IE9+ I think. */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        text-align: left !important;
        /*width:150px;*/
        padding: 0px 0px;
    }
    .rotate2 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        /* Should be unset in IE9+ I think. */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        width: 100px;

    }

    .c_9 {
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <table style="table-layout: fixed; min-width: 1074px;" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th rowspan="3" class="col-xs-1 rotate">@ViewBag.DateString</th>
                    <th rowspan="3">W</th>
                    <th rowspan="3">Sp</th>
                    <th rowspan="3">F</th>
                    <th rowspan="3" class="rotate">90-дневная медиана</th>
                    <th colspan="5" >Энергичные события</th>
                    <th rowspan="3" class="rotate">Качесственная Характеристика</th>
                    <th colspan="5">Магнитное поле Земли</th>
                    <th colspan="4">Ионосфера</th>
                </tr>
                <tr class="something">

                    <th rowspan="2" class="rotate2">Общее количество</th>
                    <th rowspan="2" class="rotate2">Балл</th>
                    <th rowspan="2" class="rotate2">Координаты</th>
                    <th rowspan="2" class="rotate2">Время</th>
                    <th rowspan="1" class="col-md-2">Радиовсплески</th>
                    <th rowspan="2" class="rotate2">Ар</th>
                    <th rowspan="2" class="rotate2">Магадан Ак</th>
                    <th rowspan="2" class="rotate2">Паратунка Ак</th>
                    <th rowspan="2" class="rotate2">Хабаровск Ак</th>
                    <th rowspan="2">К-индексы</th>
                    <th rowspan="2" class="rotate2"><div>Салехард</div> </th>
                    <th rowspan="2" class="rotate2">Магадан</th>
                    <th rowspan="2" class="rotate2">Хабаровск</th>
                    <th rowspan="2" class="rotate2">Паратунка</th>
                </tr>
                <tr>
                    <th rowspan="1">245мгц 10 см тип</th>
                </tr>
                <tr>
                    @for (int i = 1; i < 21; ++i)
                    {
                        <th rowspan="1">@i</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < DateTime.DaysInMonth(ViewBag.Year , ViewBag.Month); i++)
                {
                    if(Model.Count > i)
                    {
                        ConsolidatedTable item = Model[i];
                        <tr id="D_@item.DD">
                            <th rowspan="2" data-day="@item.DD" data-type="DD" class="editable-mediana" data-toggle="tooltip">@item.DD</th>
                            <th rowspan="2" data-day="@item.DD" data-type="Th2_W" class="editable-mediana" data-toggle="tooltip">@item.Th2_W</th>
                            <th rowspan="2" class="c_3">@item.Th3_Sp</th>
                            <th rowspan="2" class="c_4">@item.Th4_F</th>
                            <th rowspan="2" class="c_5">@item.Th5_90M</th>
                            <th class="c_6 ">@item.Th6_CountEvent</th>
                            @{ List<EnergeticEvent> list = new List<EnergeticEvent>(item.EnergeticEvents);}
                                <th class="c_7 energetic_event">
                                    @for (int j = 0; j < list.Count; j++)
                                    {
                                        if (list[j].Balls != null)
                                        {
                                            @Html.Raw(list[j].Balls);
                                        <br />
                                        }
                                        else
                                        {
                                            <br />
                                        }

                                    }
                                </th>
                                <th class="c_8 energetic_event">
                                    @for (int j = 0; j < list.Count; j++)
                                    {
                                        if (list[j].Coordinates == "")
                                        {  <br />}
                                        else
                                        {
                                            @Html.Raw(list[j].Coordinates);
                                        <br />}

                                    }
                                </th>
                                <th class="c_9 energetic_event">
                                    @for (int j = 0; j < list.Count; j++)
                                    {
                                        if (list[j].Time == "")
                                        {  <br />}
                                        else
                                        {
                                            @Html.Raw(list[j].Time);
                                        <br />}

                                    }
                                </th>
                                <th class="c_10 energetic_event">
                                    @for (int j = 0; j < list.Count; j++)
                                    {
                                        if (list[j].RadioBursts == "")
                                        {  <br />}
                                        else
                                        {
                                            @Html.Raw(list[j].RadioBursts);
                                        <br />}

                                    }
                                </th>
                                <th rowspan="2" class="c_11">
                                    @item.Th11_
                                </th>
                                <th rowspan="2" class="c_12">
                                    @item.Th12_AP
                                </th>
                                <th rowspan="2" class="c_13">
                                    @item.Th13_Amag
                                </th>
                                <th rowspan="2" class="c_14">
                                    @item.Th14_Apar
                                </th>
                                <th rowspan="2" class="c_15">
                                    @item.Th15_Akha
                                </th>
                                <th rowspan="2" class="c_16">
                                    @item.Th16_K
                                </th>
                                <th rowspan="2" class="c_17">
                                    @item.Th17_iSal
                                </th>
                                <th rowspan="2" class="c_18">
                                    @item.Th18_iMag
                                </th>
                                <th rowspan="2" class="c_19">
                                    @item.Th19_iKha
                                </th>
                                <th rowspan="2" class="c_20">
                                    @item.Th20_iPar
                                </th>
                        </tr>
                        <tr >
                            <th colspan="5" style="padding: 1px 8px;" id="addEvent" data-whatever="@item.DD" data-toggle="modal" data-target="#myModal" class=" btn btn-primary btn-lg col-lg-12" onclick="handleSaveTime('@item.DD','@ViewBag.DateString' )">Добавить</th>
                        </tr>
                    
                    }
                    else
	                {
                        <tr id="D_@i+1">
                            <th rowspan="2" data-day="@Html.Raw(i + 1)" data-type="DD" class="editable-mediana" data-toggle="tooltip">@Html.Raw(i + 1)</th>
                            <th rowspan="2" data-day="@Html.Raw(i + 1)" data-type="Th2_W" class="editable-mediana" data-toggle="tooltip"></th>
                            <th rowspan="2" class="c_3"></th>
                            <th rowspan="2" class="c_4"></th>
                            <th rowspan="2" class="c_5"></th>
                            <th class="c_6 "></th>
                            <th class="c_7 energetic_event"></th>
                            <th class="c_8 energetic_event"></th>
                            <th class="c_9 energetic_event"></th>
                            <th class="c_10 energetic_event"></th>
                            <th rowspan="2" class="c_11"></th>
                            <th rowspan="2" class="c_12"></th>
                            <th rowspan="2" class="c_13"></th>
                            <th rowspan="2" class="c_14"></th>
                            <th rowspan="2" class="c_15"></th>
                            <th rowspan="2" class="c_16"></th>
                            <th rowspan="2" class="c_17"></th>
                            <th rowspan="2" class="c_18"></th>
                            <th rowspan="2" class="c_19"></th>
                            <th rowspan="2" class="c_20"></th>
                        </tr>
                        <tr >
                            <th colspan="5" style="padding: 1px 8px;" id="addEvent" data-whatever="@Html.Raw(i + 1)" data-toggle="modal" data-target="#myModal" class=" btn btn-primary btn-lg col-lg-12" onclick="handleSaveTime('@Html.Raw(i + 1)','@ViewBag.DateString' )">Добавить</th>
                        </tr>
	                }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModelLable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabele"></h4>
            </div>
            <div class="modal-body">
                <div id="cloudiness-panel1" class="panel panel-success">
                    <div id="cloudiness-panel1-heading" class="panel-heading ms">Балл</div>
                    <div class="panel-body">
                        <input  class="form-control" id="exampleInputBall" >

                    </div>
                </div>
                <div id="cloudiness-panel2" class="panel panel-success">
                    <div id="cloudiness-panel2-heading" class="panel-heading ms">Координаты</div>
                    <div class="panel-body">
                        <input class="form-control" id="exampleInputCoordinates">

                    </div>
                </div>
                <div id="cloudiness-panel3" class="panel panel-success">
                    <div id="cloudiness-panel3-heading" class="panel-heading ms">Время</div>
                    <div class="panel-body">
                        <input  class="form-control" id="exampleInputTime">

                    </div>
                </div>
                <div id="cloudiness-panel4" class="panel panel-success">
                    <div id="cloudiness-panel4-heading" class="panel-heading ms">Радиовсплески</div>
                    <div class="panel-body">
                        <input class="form-control" id="exampleInputRadioBursts">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="Submit()" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div>