@using GeospaceEntity.Models;
@using GeospaceEntity.Helper;
@{
    ViewBag.Title = @ViewBag.Title;
}


@section Styles
{
    @Styles.Render("~/Content/css-loadtriangles.css")
}

<script>

    var submitUrl = "@Url.Action("Submit", "ConsolidatedTable")";
    var submitEventUrl = "@Url.Action("SubmitEvent", "ConsolidatedTable")";
    var delEventUrl = "@Url.Action("DeleteEvent", "ConsolidatedTable")";
    var currentYear = "@ViewBag.Year";
    var currentMonth = "@ViewBag.Month";
    var dateString = "@ViewBag.DateString";
</script>

<h2>Сводная таблица за (@ViewBag.DateString)</h2>
<script type="text/javascript">
    var arrayType = ['Balls', 'Coordinates', 'Time', 'RadioBursts'];
    var arrayModel = ['exampleInputBall', 'exampleInputCoordinates', 'exampleInputTime', 'exampleInputRadioBursts'];

    function handleEvent(day, date, id, name) {
        $("#delete").detach()
        $(".modal-footer").append("<button type=\"button\" id=\"delete\" onclick=\"deleteEnergeticEvent()\" class=\"btn btn-danger\" data-dismiss=\"modal\">Удалить</button>");
        $(".modal-title").html("Энергичное событие за " + day + " " + date);
        $("#dayModal").val(day);
        $("#dayID").val(id);
        for (var i = 0; i < 4; i++) {
            var val = $("#" + arrayType[i] + id).text();

            if (arrayType[i] != "Time") {
                $("#" + arrayModel[i]).val(val);
                if (name == arrayType[i]) {
                    $("#" + arrayModel[i]).focusin();
                }
                //отдельный код под время
            }
            else {

                var arrayTime = val.split(' ', 3);
                $.each(arrayTime, function (index, element) {
                    $("#" + arrayModel[i] + (index + 1)).val(element);
                });
            }
        }

    }
    function handleSaveTime(day, Name) {
        $(".modal-title").html("Энергичное событие за " + day + " " + Name);
        $("#dayModal").val(day);
        $("#dayID").val("-1");
        $("#delete").detach()
        emptyEnergeticEvent();
    }
    function getCell(day,  type) {
        return $('td')
                .filter('[data-day="' + day + '"]')
                .filter('[data-type="' + type + '"]');
    }
    function moveEdit(currentCell, keyCode) {
        var day = currentCell.data("day");
        var type = currentCell.data("type");
        type = parseInt(type.slice(2, type.length));
        
        switch (keyCode) {
            case 37: // left
                type--;
                break;
            case 38: // up
                day--;
                break;
            case 39: // right
                type++;
                break;
            case 40: // down
                day++;
                break;
        }
        var newCell = getCell(day, "Th" + type);
        console.log(day, type, newCell);
        if (newCell.length == 0)
            return;

        if (newCell.hasClass("editable") == false) {
            moveEdit(newCell, keyCode);
            return;
        }

        $('#edit').blur();
         newCell.dblclick();
    }

    function editEvent(e) {
        var currentCell = $(this);


        if (this.children["edit"] != null)
            return;

        var oldValue = $(currentCell).html();

        var inputHtml = "<input type=\"text\" id=\"edit\" value=\"" + oldValue + "\" />";
        var valAndBR = oldValue;
        if (currentCell.hasClass("energetic_event"))
        {
            inputHtml = "<textarea id=\"edit\" style=\"text-align: left;\">" + valAndBR + "</textarea>";
        }
        var cellWidth = currentCell.width();
        var cellHeight = currentCell.height();

        currentCell.empty().append(inputHtml);

        currentCell.css("padding", "0px");
        $('#edit').width(cellWidth - 2 + 16); // 1+1 border width
        $('#edit').height(cellHeight - 2 + 16);
        currentCell.width(cellWidth);
        currentCell.height(cellHeight);

        $('#edit').keydown(function (event) {
            
            if (event.keyCode >= 37 && event.keyCode <= 40 && !currentCell.hasClass("energetic_event")) {
                event.preventDefault();
                moveEdit(currentCell, event.keyCode);
            }
        });
        $('#edit').keydown(function(){
            $('#edit').css('overflow', 'hidden').autogrow();
        });
        $('#edit').focus();
        $('#edit').select();
        $('#edit').blur(function () {

            var newValue = $(this).val();
            currentCell.width("");
            currentCell.height(""); 
            currentCell.css("padding", "8px");

            if (newValue != oldValue) {

                var day = $(currentCell.parent()).data("day");
                var dataType = currentCell.data("type");
                console.log($(this).val());
                currentCell.empty().html("<div id=\"facebookG\"><div id=\"blockG_1\" class=\"facebook_blockG\"></div><div id=\"blockG_2\" class=\"facebook_blockG\"></div><div id=\"blockG_3\" class=\"facebook_blockG\"></div></div>");
                var valAndNR = newValue;

                console.log(valAndNR);

                var param = { YYYY: window.currentYear, MM: window.currentMonth, DD: day,  type: dataType, newvalue: valAndNR };

                $.ajax({
                    
                    url: window.submitUrl,
                    data: param,
                    success: function (data) {
                        if (data == "") {
                            currentCell.empty().html(newValue);
                        }
                        else {
                            currentCell.empty().html(newValue);
                            alert(data);
                        }
                    }
                });
            }
            else {
                currentCell.empty().html(oldValue);
            }


        });
    }
    function editEnergeticEventAdd() {
        var day = $("#dayModal").val();
        var id = $("#dayID").val();
        var timer = "";
        if ($("#exampleInputTime1").val() != "" || $("#exampleInputTime2").val() != "" || $("#exampleInputTime3").val() != "") {
            timer = $("#exampleInputTime1").val() + " " + $("#exampleInputTime2").val() + " " + $("#exampleInputTime3").val();
        }
        var resUrl = window.submitEventUrl +
                    "?YYYY=" + window.currentYear +
                    "&MM=" + window.currentMonth +
                    "&DD=" + day +
                    "&_Ball=" + $("#exampleInputBall").val() +
                    "&_Coordinate=" + $("#exampleInputCoordinates").val() +
                    "&_Time=" + timer +
                    "&_RadioBursts=" + $("#exampleInputRadioBursts").val() +
                    "&ID=" + id;
        $.ajax({
            url: resUrl,
            success: function (data) {
                if (id == -1) {
                    for (var i = 0; i < 4; i++) {
                        var val = "";
                        if (arrayType[i] != "Time") {
                            val = $("#" + arrayModel[i]).val();
                        }
                        else {
                            if ($("#exampleInputTime1").val() != "" && $("#exampleInputTime2").val() != "" && $("#exampleInputTime3").val() != "") {
                                val = $("#exampleInputTime1").val() + " " + $("#exampleInputTime2").val() + " " + $("#exampleInputTime3").val();
                            }
                        }
                        val = "<br/>";
                        addLineEvent(day, data, val, arrayType[i]);

                    }
                }
                EventLine(day, data);
                emptyEnergeticEvent();
            }
        });

    }
    function sumTimePeiod() {
        var day = $("#dayModal").val();
        var elementCurrent1 = $('#exampleInputTime1');
        var elementCurrent2 = $('#exampleInputTime2');
        var elementCurrent3 = $('#exampleInputTime3');
        var time = elementCurrent1.val() + " " + elementCurrent2.val() + " " + elementCurrent3.val();

        var ball = $('#D_' + day + ' .c_9');
        if (elementCurrent1.val())
            ball.append(time + '<br>');
        else
            ball.append('<br>');
    }
    $(document).ready(function () {
        $('.editable').dblclick(editEvent);
        $('#edit').css('overflow', 'hidden').autogrow()
        //$(window).keydown(function (event) {
        //    if (event.keyCode == 13) {
        //        $('#edit').blur();
        //    }
        //});
    });
    function deleteEnergeticEvent() {
        emptyEnergeticEvent();
        var id = $("#dayID").val();
        var day = $("#dayModal").val();
        var resUrl = window.delEventUrl +
                   "?id=" + id;
        $.ajax({
            url: resUrl,
            success: function (data) {
                emptyEnergeticEvent();
                ClearEvent(day, id)
            }
        });
    }
    function ClearEvent(day, id){
        for (var i = 0; i < 4; i++) {
            $("#" + arrayType[i] + id).text("");
        }
    }
    function EventLine(day, id) {
        //Добавление нового элемента
        for (var i = 0; i < 4; i++) {
            var val = "";
            if (arrayType[i] != "Time") {
                val = $("#" + arrayModel[i]).val();
            }
            else {
                if ($("#exampleInputTime1").val() != "" || $("#exampleInputTime2").val() != "" || $("#exampleInputTime3").val() != "")
                    val = $("#exampleInputTime1").val() + " " + $("#exampleInputTime2").val() + " " + $("#exampleInputTime3").val();
            }
            console.log(id);
            if (val += "")
                $("#" + arrayType[i] + id).text(val);
            else
                $("#" + arrayType[i] + id).html("<br/>");

        }
    }
    function addLineEvent(day, id, value, type) {//Работает
        var item = $('#D_' + day + " td[data-type=" + type + "]");
        var str = "<div id=\""+type + id + "\" data-whatever=\"" + day + "\" data-toggle=\"modal\" data-target=\"#myModal\" class=\"hover\" title=\"Изменить\"" +
            "onclick=\"handleEvent(\'" + day + "\','" + dateString + "\', \'" + id + "\',\'" + type + "\' )\"></div>";
        item.append(str);
    }
    function emptyEnergeticEvent() {//Работает
        $("#exampleInputBall").val("");
        $("#exampleInputCoordinates").val("");
        $("#exampleInputTime1").val("");
        $("#exampleInputTime2").val("");
        $("#exampleInputTime3").val("");
        $("#exampleInputRadioBursts").val("");
    }
</script>

<style>
    textarea {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .hover:hover {
        cursor: pointer;
        background-color: rgba(216, 200, 200, 0.44);
    }
    table td, th {
        height: 100%;
        text-align: center;
        vertical-align: bottom;
        table-layout: fixed;
        padding: 0px 0px 0px 0px;
        word-wrap: normal;
        font-style: normal;
        font-size: 10pt;
    }
    td:hover {
        cursor: pointer;
        background-color: rgba(216, 200, 200, 0.44);
    }
    head {
        padding: 0px 0px;
        height: 200px;
    }
    #edit {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 1px;
        border-style: solid;
        border-color: #666;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .sticky-wrap {
        overflow-x: auto;
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;
    }

        .sticky-wrap .sticky-thead,
        .sticky-wrap .sticky-col,
        .sticky-wrap .sticky-intersect {
            opacity: 0;
            position: absolute;
            top: 0px;
            left: 0;
            transition: all .125s ease-in-out;
            z-index: 50;
            width: auto;
        }

        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%;
        }

        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }

            .sticky-wrap .sticky-intersect th {
                background-color: #666;
                color: #eee;
            }

        .sticky-wrap td,
        .sticky-wrap th {
            box-sizing: border-box;
        }

    .delta_out {
        color: gray;
    }

    .rotate {
        display: inline-block;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        /* Should be unset in IE9+ I think. */
        padding: 0px 0px;
        text-align: left !important;
        vertical-align: bottom !important;
        width: 150px;
    }

    .legal {
        text-align: center !important;
        /*vertical-align: middle !important;*/
        padding-left: 0px;
        padding-right: 0px;
    }
    .editable {
        white-space: pre;

    }
</style>
@helper DrawLinkEvent(int id, int day , string element , string nameElement)
{
    if (element != null && element != "")
    {
        <div id="@nameElement@id" data-whatever="@day" data-toggle="modal" data-target="#myModal" class="hover" title="Изменить"
             onclick="handleEvent('@day','@ViewBag.DateString', '@id','@nameElement' )">@element</div>
    }
    else
    {
        <div id="@nameElement@id" data-whatever="@day" data-toggle="modal" data-target="#myModal" class="hover" title="Изменить"
             onclick="handleEvent('@day','@ViewBag.DateString', '@id', '@nameElement' )"><br /></div>
    }
}
<div class="row">
    <div class="col-sx-12 ">
        <table style="" class=" table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th rowspan="3" style="padding-left: 0px; padding-right: 0px;"><div class="rotate" style="width: 25px; text-align: center; vertical-align: middle !important; white-space: nowrap;">@ViewBag.DateString </div></th>
                    <th rowspan="3" style="width: 6%; text-align: center !important; vertical-align: middle !important;">W</th>
                    <th rowspan="3" style="width: 6%; text-align: center !important;vertical-align: middle !important;">Sp</th>
                    <th rowspan="3" style="width: 6%; text-align: center !important;vertical-align: middle !important;">F</th>
                    <th rowspan="3" ><div class="rotate" style="white-space: nowrap; width: 20px; text-align: center; vertical-align: middle !important;">90-дневная<br>медиана</div></th>
                    <th colspan="5">Энергичные события</th>
                    <th rowspan="3" style="padding: 0px 0px; width: 6%; vertical-align: bottom ; ">
                        <div class="rotate" style="white-space: nowrap; width: 20px; ">Качественная<br/> Характиристика</div></th>
                    <th colspan="5">Магнитное поле Земли</th>
                    <th colspan="4">Ионосфера</th>
                </tr>
                <tr class="something">
                    <th rowspan="2" style="padding-left: 0px;padding-right:0px">
                        <div class="rotate" style="white-space: nowrap; width: 40px; ">Общее<br>количество</div>
                    </th>
                    <th rowspan="2" style="padding-left: 0px; padding-right: 0px; width: 6%;">
                        <div class="rotate" style="width: 6%; ">Балл<br></div>
                    </th>
                    <th rowspan="2" style="padding-left: 0px; padding-right: 0px; width: 3%;">
                        <div class="rotate" style="width: 3%;">Координаты</div>
                    </th>
                    <th rowspan="2" style="width:20%;">Время</th>

                    <th rowspan="1" style="height: 50px; padding: 5px 1px;">
                            <div style=" width:auto; display: inline-block;">Радиовсплески</div>
                    </th>
                    <th rowspan="2" class="legal" style="width:6%;"><div class="rotate" style="width:11px; display: inline-block;">Ар</div></th>
                    <th rowspan="2" style="width:6%;padding: 0px 0px;padding: 5px 1px;"><div class="rotate" style="width:30px;">Магадан Ак</div></th>
                    <th rowspan="2" style="width:6%;padding: 0px 0px;padding: 5px 1px;"><div class="rotate" style="width:30px;">Паратунка Ак</div></th>
                    <th rowspan="2" style="width:6%;padding: 0px 0px;padding: 5px 1px;"><div class="rotate" style="width:30px;">Хабаровск Ак</div></th>
                    <th rowspan="2" style="white-space: nowrap; padding: 5px 1px;">К-индексы</th>
                    <th rowspan="2" class="legal" style="width:6%;padding: 5px 1px;"><div class="rotate" style="width:20px;">Салехард</div></th>
                    <th rowspan="2" class="legal" style="width:6%;padding: 5px 1px;"><div class="rotate" style="width:20px;">Магадан</div></th>
                    <th rowspan="2" class="legal" style="width:6%;padding: 5px 1px;"><div class="rotate" style="width:20px;">Хабаровск</div></th>
                    <th rowspan="2" class="legal" style="width:6%;padding: 5px 1px;"><div class="rotate" style="width:20px;">Паратунка</div></th>

                </tr>
                <tr>
                    <th rowspan="1" style="width: 15%; height: 50px; white-space: nowrap; padding: 5px 1px; ">245мгц 10 см тип</th>
                </tr>
                <tr>
                    @for (int i = 1; i < 21; ++i)
                    {
                        <th rowspan="1">@i</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < DateTime.DaysInMonth(ViewBag.Year, ViewBag.Month); i++)
                {
                    ConsolidatedTable item = GeospaceEntity.Models.ConsolidatedTable.GetByDateUTC(ViewBag.Year, ViewBag.Month, i + 1);
                    if (item != null)//Исправить!!!! неверно
                    {

                        <tr id="D_@item.DD" data-day="@item.DD">
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="DD" data-toggle="tooltip">@item.DD</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th2" data-toggle="tooltip">@item.Th2_W</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th3">@item.Th3_Sp</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th4">@item.Th4_F</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th5">@item.Th5_90M</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th6">@item.Th6_CountEvent</td>
                            <td class="editable energetic_event" data-day="@item.DD" data-type="Th7">@item.Th7_Balls</td>
                            <td class="editable energetic_event" data-day="@item.DD" data-type="Th8">@item.Th8_Coordinates</td>
                            <td class="editable energetic_event" data-day="@item.DD" data-type="Th9">@item.Th9_Time</td>
                            <td class="editable energetic_event" data-day="@item.DD" data-type="Th10" style="text-align:left;">@item.Th10_RadioBursts</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th11" style="white-space: nowrap;">@item.Th11_</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th12">@item.Th12_AP</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th13">@item.Th13_Amag</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th14">@item.Th14_Apar</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th15">@item.Th15_Akha</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th16">@item.Th16_K</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th17">@item.Th17_iSal</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th18">@item.Th18_iMag</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th19">@item.Th19_iKha</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@item.DD" data-type="Th20">@item.Th20_iPar</td>
                        </tr>
                        

                    }
                    else
                    {
                        <tr id="D_@(i+1)" data-day="@(i+1)">
                            <td style="text-align: center !important;vertical-align: middle !important;" data-day="@(i+1)" data-type="DD" data-toggle="tooltip">@Html.Raw(i + 1)</td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th2" data-toggle="tooltip"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th3"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th4"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th5"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th6"></td>
                            <td class="editable energetic_event" data-day="@(i+1)" data-type="Th7"></td>
                            <td class="editable energetic_event" data-day="@(i+1)" data-type="Th8"></td>
                            <td class="editable energetic_event" data-day="@(i+1)" data-type="Th9"></td>
                            <td class="editable energetic_event" data-day="@(i+1)" data-type="Th10" style="text-align:left;"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th11"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th12"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th13"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th14"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th15"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th16"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th17"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th18"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th19"></td>
                            <td style="text-align: center !important;vertical-align: middle !important;" class="editable" data-day="@(i+1)" data-type="Th20"></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModelLable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabele"></h4>
            </div>
            <a id="dayModal"></a>
            <a id="dayID" ></a>
            <div class="modal-body">
                <div id="cloudiness-panel1" class="panel panel-success">
                    <div id="cloudiness-panel1-heading" class="panel-heading ms">Балл</div>
                    <div class="panel-body">
                        <input  class="form-control" id="exampleInputBall" >

                    </div>
                </div>
                <div id="cloudiness-panel2" class="panel panel-success">
                    <div id="cloudiness-panel2-heading" class="panel-heading ms">Координаты</div>
                    <div class="panel-body ">
                        <input class="form-control" id="exampleInputCoordinates">
                    </div>
                </div>
                <div id="cloudiness-panel3" class="panel panel-success">
                    <div id="cloudiness-panel3-heading" class="panel-heading ms">Время</div>
                    <div class="panel-body ">
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime1">
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime2">
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime3">
                            </div>
                </div>
                    </div>
                </div>
                <div id="cloudiness-panel4" class="panel panel-success">
                    <div id="cloudiness-panel4-heading" class="panel-heading ms">Радиовсплески</div>
                    <div class="panel-body">
                        <input class="form-control" id="exampleInputRadioBursts">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="editEnergeticEventAdd()" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                    <button type="button" onclick="emptyEnergeticEvent()" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                   
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div>
