@using GeospaceEntity.Models;
@{
    ViewBag.Title = @ViewBag.Title;
}


@section Styles
{
    @Styles.Render("~/Content/css-loadtriangles.css")
}

<script>
    var submitUrl = "@Url.Action("Submit", "ConsolidatedTable")";
    var submitEventUrl = "@Url.Action("SubmitEvent", "ConsolidatedTable")";

    var currentYear = "@ViewBag.Year";
    var currentMonth = "@ViewBag.Month";
</script>

<h2>Сводная таблица за (@ViewBag.DateString)</h2>
<script type="text/javascript">
    function handleSaveTime( day, Name) {
        $(".modal-title").html("Энергичное событие за " + day + " " + Name);
        $("#dayModal").val(day);
    }
    function editEvent(e){
        var currentCell = $(this);


        if (this.children["edit"] != null)
            return;

        var oldValue = $(currentCell).text().trim();

        var inputHtml = "<input type=\"text\" id=\"edit\" value=\"" + oldValue + "\" />";

        var cellWidth = currentCell.width();
        var cellHeight = currentCell.height();

        currentCell.empty().append(inputHtml);

        currentCell.css("padding", "0px");
        $('#edit').width(cellWidth - 2 + 16); // 1+1 border width
        $('#edit').height(cellHeight - 2 + 16);
        currentCell.width(cellWidth);
        currentCell.height(cellHeight);

        $('#edit').focus();
        $('#edit').select();
        $('#edit').blur(function () {

            var newValue = $(this).val().trim();
            currentCell.width("");
            currentCell.height("");
            currentCell.css("padding", "8px");

            if (newValue != oldValue) {

                var day = $(currentCell.parent()).data("day");;
                var type = currentCell.data("type");

                currentCell.empty().html("<div id=\"facebookG\"><div id=\"blockG_1\" class=\"facebook_blockG\"></div><div id=\"blockG_2\" class=\"facebook_blockG\"></div><div id=\"blockG_3\" class=\"facebook_blockG\"></div></div>");

                var resUrl = window.submitUrl +
                            "?YYYY=" + window.currentYear +
                            "&MM=" + window.currentMonth +
                            "&DD=" + day +
                            "&type=" + type +
                            "&newvalue=" + newValue;

                $.ajax({
                    url: resUrl,
                    success: function (data) {
                        if (data == "") {
                            currentCell.empty().text(newValue.toUpperCase());
                        }
                        else {
                            currentCell.empty().text(oldValue);
                            alert(data);
                        }
                    }
                });
            }
            else {
                currentCell.empty().html(oldValue);
            }


        });
    }
    function editEnergeticEventAdd() {
        var day = $("#dayModal").val();
        var resUrl = window.submitEventUrl +
                    "?YYYY=" + window.currentYear +
                    "&MM=" + window.currentMonth +
                    "&DD=" + day +
                    "&_Ball=" + $("#exampleInputBall").val() +
                    "&_Coordinate=" + $("#exampleInputCoordinates").val() +
                    "&_Time=" + $("#exampleInputTime1").val() + " " + $("#exampleInputTime2").val() + " " + $("#exampleInputTime3").val();
                    "&_RadioBursts=" + $("#exampleInputRadioBursts").val();


        $.ajax({
            url: resUrl,
            success: function (data) {
                addTextEvent('exampleInputBall', 'c_7');
                addTextEvent('exampleInputCoordinates', 'c_8');
                
                addTextEvent('exampleInputRadioBursts', 'c_10');
                
            }
        });
        $("#exampleInputBall").empty();
        $("#exampleInputCoordinates").empty();
        $("#exampleInputTime").empty();
        $("#exampleInputRadioBursts").empty();
    }
    function sumTimePeiod()
    {
        var elementCurrent1 = $('#' + exampleInputTime1);
        var elementCurrent2 = $('#' + exampleInputTime2);
        var elementCurrent3 = $('#' + exampleInputTime3);
        var time = elementCurrent1.val() + " " + elementCurrent2.val() + " " + elementCurrent3.val();
        
        var ball = $('#D_' + day + ' .c_9');
        if (elementCurrent1.val())
            ball.append(time);
        else
            ball.append('<br>');
    }
    function addTextEvent(current,addElement)
    {
        var elementCurrent = $('#'+current);
        var ball = $('#D_' + day + ' .' + addElement);
        if (ball)
            console.log(ball.val());
        ball.append(elementCurrent.val());
    }
    $(document).ready(function () {
        $('.editable').dblclick(editEvent);
    });

</script>

<style>
    table td, th {
        text-align: center;
        vertical-align: middle !important;
        table-layout: fixed;
        padding: 0px 0px 0px 0px;
        word-wrap: normal;
    }
    head {
        padding: 0px 0px;
        height: 200px;
    }
    #edit {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 1px;
        border-style: solid;
        border-color: #666;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }

    .sticky-wrap {
        overflow-x: auto;
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;
    }

        .sticky-wrap .sticky-thead,
        .sticky-wrap .sticky-col,
        .sticky-wrap .sticky-intersect {
            opacity: 0;
            position: absolute;
            top: 0px;
            left: 0;
            transition: all .125s ease-in-out;
            z-index: 50;
            width: auto;
        }

        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%;
        }

        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }

            .sticky-wrap .sticky-intersect th {
                background-color: #666;
                color: #eee;
            }

        .sticky-wrap td,
        .sticky-wrap th {
            box-sizing: border-box;
        }

    .delta_out {
        color: gray;
    }

    .rotate {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        /* Should be unset in IE9+ I think. */
        padding: 0px 0px;
        text-align: center !important;
        vertical-align: central !important;
        /*width:150px;*/
    }
    
    .c_9 {
    }
</style>
<div class="row">
    <div class="col-sx-12 ">
        <table style="min-width: 1000px;" class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="">
                    <th rowspan="3" class="rotate" style="white-space: nowrap; padding: 0px 0px ; vertical-align: middle !important; ">@ViewBag.DateString</th>
                    <th rowspan="3">W</th>
                    <th rowspan="3">Sp</th>
                    <th rowspan="3">F</th>
                    <th rowspan="3" class="rotate" style="white-space: nowrap; padding: 0px 0px;">90-дневная<br>медиана</th>
                    <th colspan="5" >Энергичные события</th>
                    <th rowspan="3" class="rotate" style="padding: 0px 0px;">Качесственная<br> Характеристика</th>
                    <th colspan="5" class="col-md-4">Магнитное поле Земли</th>
                    <th colspan="4">Ионосфера</th>
                </tr>
                <tr class="something">

                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Общее<br> количество</th>
                    <th rowspan="2" class="rotate">Балл</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Координаты</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Время</th>
                    <th rowspan="1" style="height:50px;">Радиовсплески</th>
                    <th rowspan="2" class="rotate">Ар</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Магадан Ак</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Паратунка Ак</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Хабаровск Ак</th>
                    <th rowspan="2" style="white-space: nowrap;">К-индексы</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Салехард</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Магадан</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Хабаровск</th>
                    <th rowspan="2" class="rotate" style="padding: 0px 0px;">Паратунка</th>
                </tr>
                <tr>
                    <th rowspan="1" style="height: 50px; white-space: nowrap;">245мгц 10 см тип</th>
                </tr>
                <tr>
                    @for (int i = 1; i < 21; ++i)
                    {
                        <th rowspan="1">@i</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < DateTime.DaysInMonth(ViewBag.Year, ViewBag.Month); i++)
                {
                    ConsolidatedTable item = GeospaceEntity.Models.ConsolidatedTable.GetByDateUTC(ViewBag.Year, ViewBag.Month,i+1);
                    if (item != null)//Исправить!!!! неверно
                    {
                        
                        <tr id="D_@item.DD" data-day="@item.DD">
                            <td rowspan="2" data-day="@item.DD" data-type="DD" class="editable-mediana" data-toggle="tooltip">@item.DD</td>
                            <td rowspan="2" data-day="@item.DD" data-type="Th2" class="editable " data-toggle="tooltip">@item.Th2_W</td>
                            <td rowspan="2" class="editable c_3" data-type="Th3">@item.Th3_Sp</td>
                            <td rowspan="2" class="editable c_4" data-type="Th4">@item.Th4_F</td>
                            <td rowspan="2" class="editable c_5" data-type="Th5">@item.Th5_90M</td>
                            <td rowspan="2" class="c_6 editable" data-type="Th6">@item.Th6_CountEvent</td>
                            @{ List<EnergeticEvent> list = new List<EnergeticEvent>(item.EnergeticEvents);}
                            <td class="c_7 energetic_event" data-type="Balls">
                                @for (int j = 0; j < list.Count; j++)
                                {
                                    if (list[j].Balls != null)
                                    {
                                        @Html.Raw(list[j].Balls);
                                    <br />
                                    }
                                    else
                                    {
                                        <br />
                                    }

                                }
                            </td>

                            <td class="c_8 energetic_event" data-type="Coordinates">
                                @for (int j = 0; j < list.Count; j++)
                                {
                                    if (list[j].Coordinates == "")
                                    {  <br />}
                                    else
                                    {
                                        @Html.Raw(list[j].Coordinates);
                                    <br />}

                                }
                            </td>

                            <td class="c_9 energetic_event" style="white-space: nowrap;" data-type="Time">
                                @for (int j = 0; j < list.Count; j++)
                                {
                                    if (list[j].Time == "")
                                    {  <br />}
                                    else
                                    {
                                        @Html.Raw(list[j].Time);
                                    <br />}

                                }
                            </td>

                            <td class="c_10 energetic_event" data-type="RadioBursts">
                                @for (int j = 0; j < list.Count; j++)
                                {
                                    if (list[j].RadioBursts == "")
                                    {  <br />}
                                    else
                                    {
                                        @Html.Raw(list[j].RadioBursts);
                                    <br />}

                                }
                            </td>

                            <td rowspan="2" class="c_11 editable" style="white-space: nowrap;" data-type="Th11">
                                @item.Th11_
                            </td>
                            <td rowspan="2" class="c_12 editable" data-type="Th12">
                                @item.Th12_AP
                            </td>
                            <td rowspan="2" class="c_13 editable" data-type="Th13">
                                @item.Th13_Amag
                            </td>
                            <td rowspan="2" class="c_14 editable" data-type="Th14">
                                @item.Th14_Apar
                            </td>
                            <td rowspan="2" class="c_15 editable" data-type="Th15">
                                @item.Th15_Akha
                            </td>
                            <td rowspan="2" class="c_16 editable" data-type="Th16">
                                @item.Th16_K
                            </td>
                            <td rowspan="2" class="c_17 editable" data-type="Th17">
                                @item.Th17_iSal
                            </td>
                            <td rowspan="2" class="c_18 editable" data-type="Th18">
                                @item.Th18_iMag
                            </td>
                            <td rowspan="2" class="c_19 editable" data-type="Th19">
                                @item.Th19_iKha
                            </td>
                            <td rowspan="2" class="c_20 editable" data-type="Th20">
                                @item.Th20_iPar
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="padding:0 0;">
                                <a style="padding: 1px 8px;" id="addEvent" data-whatever="@item.DD" data-toggle="modal" data-target="#myModal" class=" btn btn-primary btn-ms col-xs-6" onclick="handleSaveTime('@item.DD','@ViewBag.DateString' )">Добавить</a>
                                <a style="padding: 1px 8px;" id="EditEvent" data-whatever="@item.DD" data-toggle="modal" data-target="#myModalEdit" class=" btn btn-info btn-ms col-xs-6" onclick="handleSaveTime('@item.DD', '@ViewBag.DateString')">Редактировать</a>
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr id="D_@(i+1)" data-day="@(i+1)">
                            <td rowspan="2" data-day="@Html.Raw(i + 1)" data-type="DD" class="editable-mediana" data-toggle="tooltip">@Html.Raw(i + 1)</td>
                            <td rowspan="2" data-day="@Html.Raw(i + 1)" data-type="Th2" class="editable" data-toggle="tooltip"></td>
                            <td rowspan="2" class="c_3 editable" data-type="Th3"></td>
                            <td rowspan="2" class="c_4 editable" data-type="Th4"></td>
                            <td rowspan="2" class="c_5 editable" data-type="Th5"></td>
                            <td rowspan="2" class="c_6 editable" data-type="Th6"></td>
                            <td class="c_7 energetic_event"></td>
                            <td class="c_8 energetic_event"></td>
                            <td class="c_9 energetic_event"></td>
                            <td class="c_10 energetic_event"></td>
                            <td rowspan="2" class="c_11 editable" data-type="Th11"></td>
                            <td rowspan="2" class="c_12 editable" data-type="Th12"></td>
                            <td rowspan="2" class="c_13 editable" data-type="Th13"></td>
                            <td rowspan="2" class="c_14 editable" data-type="Th14"></td>
                            <td rowspan="2" class="c_15 editable" data-type="Th15"></td>
                            <td rowspan="2" class="c_16 editable" data-type="Th16"></td>
                            <td rowspan="2" class="c_17 editable" data-type="Th17"></td>
                            <td rowspan="2" class="c_18 editable" data-type="Th18"></td>
                            <td rowspan="2" class="c_19 editable" data-type="Th19"></td>
                            <td rowspan="2" class="c_20 editable" data-type="Th20"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="padding: 1px 8px;" id="addEvent" data-whatever="@Html.Raw(i + 1)" data-toggle="modal" data-target="#myModal" class=" btn btn-primary btn-ms col-ms-12" onclick="handleSaveTime('@Html.Raw(i + 1)','@ViewBag.DateString' )">Добавить</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModelLable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabele"></h4>
            </div>
            <a id="dayModal"></a>
            <div class="modal-body">
                <div id="cloudiness-panel1" class="panel panel-success">
                    <div id="cloudiness-panel1-heading" class="panel-heading ms">Балл</div>
                    <div class="panel-body">
                        <input  class="form-control" id="exampleInputBall" >

                    </div>
                </div>
                <div id="cloudiness-panel2" class="panel panel-success">
                    <div id="cloudiness-panel2-heading" class="panel-heading ms">Координаты</div>
                    <div class="panel-body ">
                        <input class="form-control" id="exampleInputCoordinates">
                    </div>
                </div>
                <div id="cloudiness-panel3" class="panel panel-success">
                    <div id="cloudiness-panel3-heading" class="panel-heading ms">Время</div>
                    <div class="panel-body ">
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime1">
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime2">
                            </div>
                            <div class="col-xs-4">
                                <input class="form-control" id="exampleInputTime3">
                            </div>
                </div>
                    </div>
                </div>
                <div id="cloudiness-panel4" class="panel panel-success">
                    <div id="cloudiness-panel4-heading" class="panel-heading ms">Радиовсплески</div>
                    <div class="panel-body">
                        <input class="form-control" id="exampleInputRadioBursts">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="editEnergeticEventAdd()" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModelLable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabele"></h4>
            </div>
            <div class="modal-body">
                <h4>В разработке....</h4>
                <div class="modal-footer">
                    <button type="button" onclick="" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>